<!DOCTYPE html>
<html lang="en" ondragstart="return false;" ondrop="return false;">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - 555 lottery</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="description" content="Online Bitcoin Lottery with more than 555 BTC Jackpot. Win the huge jackpot with online instant play, no registration, no deposit. It’s easy, it’s simple, it’s safe." />
    <meta name="keywords" content="bitcoin, btc, lottery, win, prize, gambling, online, jackpot, no deposit, no registration, safe, anonym, online lottery" />
    <meta name="viewport" content="width=device-width, initial-scale=0.25, maximum-scale=0.75" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <!-- Lime Talk Live Chat start -->
    <script type="text/javascript"> var limetalk = (function () { var lc = document.createElement("script"); lc.type = "text/javascript"; lc.async = true; lc.src = "//www.limetalk.com/livechat/1b5082c5052b1ef4aba0c3d6f6b08d6f"; document.getElementsByTagName("head")[0].appendChild(lc); var fnr = function (fn) { var l = limetalk; if (l.readyList) { l.ready(fn); } else { l.rl = l.rl || []; l.rl.push(fn); } }; fnr.ready = fnr; return fnr; })(); </script>
    <!-- Lime Talk Live Chat end -->
</head>
<body>
    <div id="body">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryplugins")
    
    @Scripts.Render("~/bundles/foundation")

    @RenderSection("scripts", required: false)

    <script>
        $(document).ready(function () {
            viewportWidth = screen.width;

            if (screen.width < 1024) {
                document.body.style.backgroundImage = "url('../Content/images/background_980.jpg')";
                viewportWidth = 980;
            } else if (screen.width < 1360) {
                document.body.style.backgroundImage = "url('../Content/images/background_1200.jpg')";
                viewportWidth = 1200;
            } else if (screen.width < 1600) {
                document.body.style.backgroundImage = "url('../Content/images/background_1340.jpg')";
                viewportWidth = 1370;
            } else {
                document.body.style.backgroundImage = "url('../Content/images/background.jpg')";
                viewportWidth = 1576;
            }

            viewport = document.querySelector("meta[name=viewport]");
            viewport.setAttribute('content', 'width=' + viewportWidth + ', initial-scale=0.25, maximum-scale=0.75');

            if (window.innerWidth < viewportWidth) {
                var scrollAmount = (viewportWidth - window.innerWidth) / 2;

                document.defaultView.scrollTo(scrollAmount, 0);
            }

        });
    </script>

    <script>
        $(document).foundation({
            reveal: {
                animation: 'fade',
                animation_speed: 350,
                close_on_background_click: false,
                close_on_esc: false,
                dismiss_modal_class: 'close-reveal-modal',
            }
        });
    </script>

    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-44465713-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>

    <script lang="JavaScript">
        var urlPageOpened = '@Url.Action("PageOpened", "Home")';
        var urlPageLeft = '@Url.Action("PageLeft", "Home")';

        window.onload = pageLoad();
        window.onbeforeunload = pageLeft;

        function pageLoad() {
            //_gaq.push(['_trackEvent', 'Visitor Info', 'Page Opened', '', 0, true]);

            $.ajax({
                url: urlPageOpened,
                type: "POST",
                data: {
                    url: window.location.toString()
                }
            });

        }

        function pageLeft() {
            $.ajax({
                url: urlPageLeft,
                type: "POST",
                async: false,
                data: {
                    url: window.location.toString()
                }
            });

            //_gaq.push(['_trackEvent', 'Visitor Info', 'Page Left', '', 0, true]);
        }
    </script>

    <!--  MouseStats:Begin  -->
    <script type="text/javascript">(function () {
        if (document.getElementById('MouseStatsTrackingScript') == undefined) {
            var mousestats_script = document.createElement('script');
            mousestats_script.type = 'text/javascript';
            mousestats_script.id = 'MouseStatsTrackingScript';
            mousestats_script.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www2') + '.mousestats.com/js/4/7/4721532042109098830.js?' + Math.floor(new Date().getTime() / 600000);
            mousestats_script.async = true;
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(mousestats_script);
        }
    })();
    </script>
    <!--  MouseStats:End  -->

</body>
</html>
