@model _555Lottery.Web.ViewModels.TicketLotViewModel


<div id="ticketsidebar">

    <div class="sidebarpager">
        <img runat="server" src="~/Content/images/sidebar_up.png" alt="/\" width="100" height="20" onclick="pageUp();" />
    </div>

    @foreach (_555Lottery.Web.ViewModels.TicketViewModel t in Model.VisibleTickets)
    {
        if (t != null)
        {    
                        
        <div class="sidebarticket @(t.Mode == _555Lottery.DataModel.TicketMode.Empty ? "emptyticket" : "") @(t == Model.SelectedTicket ? "selectedticket" : "")"  onclick="selectTicket(@(t.Index));">
            <img runat="server" src="~/Content/images/sidebarticket_@(t.Color).png" alt="#1" width="100" height="57" />
            <span class="sidebartickettext">
                @if (t.Mode != _555Lottery.DataModel.TicketMode.Empty)
                {
                    if (String.IsNullOrEmpty(t.HighestHits))
                    { 
                        <img runat="server" src="~/Content/images/sbn_@(t.Index)_@(t.Color).png" alt="#@(t.Index)" width="96" height="53" />
                    }
                    else 
                    { 
                        <img runat="server" src="~/Content/images/sbn_@(t.HighestHits[0])_@(t.Color).png" alt="@(t.HighestHits[0])" width="20" height="53" />
                        <img runat="server" src="~/Content/images/sbn_@(t.HighestHits[1])_@(t.Color).png" alt="@(t.HighestHits[1])" width="20" height="53" />
                        <img runat="server" src="~/Content/images/sbn_@(t.HighestHits[2])_@(t.Color).png" alt="@(t.HighestHits[2])" width="20" height="53" />
                    }
                } else {
                    <img runat="server" src="~/Content/images/sbn_new_@(t.Color).png" alt="NEW" width="96" height="53" />
                }
            </span>
        </div>
        }
        else
        {
        <div class="sidebarticket invisibleticket">
            <img runat="server" src="~/Content/images/sidebarticket_blue.png" alt="invisible" width="100" height="57" />
        </div>
        }
    }
    <div class="sidebarpager">
        <img runat="server" src="~/Content/images/sidebar_down.png" alt="\/" width="100" height="20" onclick="pageDown();" />
    </div>


</div>
<div class="ticketsticksleft">
    @foreach (_555Lottery.Web.ViewModels.TicketViewModel t in Model.VisibleTickets)
    {
        if (t != null)
        {    
            <div class="stick border@(t.Color) @(t.Mode == _555Lottery.DataModel.TicketMode.Empty ? "emptyticket" : "") @(t == Model.SelectedTicket ? "selectedticket" : "")"></div>
        } else {
            <div class="stick invisibleticket"></div>
        }
    }
</div>
