@model _555Lottery.Web.ViewModels.TicketLotViewModel[]
@{
    ViewBag.Title = "Check your tickets";
}

@section Scripts{
    <script type="text/javascript">
        var urlTicketBottom = '@Url.Action("TicketBottom", "Home")';
        var urlTicketPrice = '@Url.Action("TicketPrice", "Home")';
        var urlMoveSlider = '@Url.Action("MoveSidebar", "Home")';
        var urlTicketSidebar = '@Url.Action("TicketSidebar", "Home")';

        var urlTabChanged = '@Url.Action("TabChanged", "Home")';

        var urlGetUtcTimeStr = '@Url.Action("GetUtcTimeStr", "Home")';
    </script>

    <script runat="server" type="text/javascript" src="~/Scripts/Home/Check.js"></script>
    <script runat="server" type="text/javascript" src="~/Scripts/Home/Ticket.js"></script>
}


<div class="logo-wrapper">
    <div id="biglogo">
        <a runat="server" href="~/">
            <img runat="server" src="~/Content/images/555_lottery_logo.png" alt="555 lottery" width="775" height="153" />
        </a>
    </div>
</div>
<div class="content-wrapper">
    <div class="header-wrapper">
        <div id="backtohome">
            <a runat="server" href="~/">
                <img runat="server" src="~/Content/images/btn_back_eng.png" alt="BACK" width="54" height="13" />
            </a>
        </div>
        <div id="utcclock">
            @DateTime.UtcNow.ToString("MMM.dd. HH:mm").ToUpper()
        </div>
    </div>
    <h2>
        <img runat="server" src="~/Content/images/txt_ticket_eng.png" alt="TICKETS" width="110" height="16" /></h2>
    <h2>@Model[0].Code</h2>
    <h3>@Model[0].CreatedUtc.ToString("yyyy-MM-dd HH:mm:ss") (UTC)</h3>
    <div class="margined-content">

        @foreach (_555Lottery.Web.ViewModels.TicketLotViewModel tl in Model)
        { 
            <div class="ticketlot">
                <div class="statsline">
                    <div class="drawcode">
                        <span>@{ Html.RenderPartial("_BlueLabel", tl.Draw.DrawCode.Substring(3)); }</span>
                        <br />
                        <span>@tl.Draw.DeadlineUtc.ToString("MMM.dd. HH:mm").ToUpper()</span> (UTC)
                    </div>
                    <div>
                        @if (tl.Draw.WinningTicketSequence != null)
                        {
                            Html.RenderPartial("_LastDrawNumbers", tl.Draw.WinningTicketSequence);
                        }
                        else
                        {
                            Html.RenderPartial("_LastDrawNumbers", "Numbers are not drawn yet");
                        }
                    </div>
                    <div class="ticketlotstatus">
                        <img runat="server" src="~/Content/images/txt_status_eng.png" alt="STATUS" width="72" height="25" />
                        <img runat="server" src="~/Content/images/txt_status_@(tl.State)_eng.png" alt="@tl.State" width="195" height="50" />
                    </div>
                </div>
                @{ string tlId = tl.TicketLotId.ToString(); }
                <div id="@tlId" class="ticketarea">
                    <span class="ticketMode" hidden>blue</span>
                    <span class="selectedTicketIndex" hidden>-1</span>
                    <div class="ticketleftside">
                        @{ Html.RenderPartial("_TicketSidebar", tl); }
                    </div>
                    <div class="ticket readonly">
                        <div class="tabs">
                            <div class="tab tabblue toggled" onclick="changeTab(@tlId, 'blue')">
                                <img runat="server" src="~/Content/images/tab_ticket_eng_toggled.png" alt="TICKET" width="111" height="20" />
                            </div>
                            <div class="tab taborange" onclick="changeTab(@tlId, 'orange')">
                                <img runat="server" src="~/Content/images/tab_systemticket_eng.png" alt="SYSTEM TICKET" width="222" height="20" />
                            </div>
                            <div class="tab tabgreen" onclick="changeTab(@tlId, 'green')">
                                <img runat="server" src="~/Content/images/tab_randomticket_eng.png" alt="RANDOM TICKET" width="229" height="20" />
                            </div>
                        </div>
                        <div class="ticketcontent borderblue">
                            @for (int i = 1; i <= 55; i++)
                            {
                                <div class="ticketnumber numberblue" onclick="selectNumber(@tlId, this); refreshTicketBottom(@tlId);">
                                    <img runat="server" src="~/Content/images/tfn_@(i)_blue.png" alt="@i" width="26" height="26" />
                                </div>
                            }
                            <div class="lottery_mini">
                                <img runat="server" src="~/Content/images/txt_lottery_mini_blue.png" alt="555 lottery" width="160" height="26" />
                            </div>
                        </div>
                        <div class="ticketjoker borderblue">
                            @for (int i = 1; i <= 5; i++)
                            {
                                <div class="ticketnumber numberblue" onclick="jokerClicked(@tlId, this);">
                                    <img runat="server" src="~/Content/images/tfn_@(i)_blue.png" alt="@i" width="26" height="26" />
                                </div>
                            }
                            <div class="jokerall ticketnumber numberblue" onclick="allClicked(@tlId, this)">
                                <img runat="server" src="~/Content/images/tfn_A_blue.png" alt="" width="26" height="26" />
                            </div>
                        </div>
                        <div class="ticketfooter borderblue bgblue">
                            <div class="ticketfooterlist">
                                @{ Html.RenderPartial("_TicketBottom", "  ,  ,  ,  ,   |  "); }
                            </div>
                            <div class="ticketfooterbtc">
                                @{ Html.RenderPartial("_TicketPrice", "-.--"); }
                            </div>
                            <img class="btcsign" runat="server" src="~/Content/images/tbn_btc_black.png" alt="." width="26" height="26" />
                        </div>
                    </div>
                </div>

                <div class="ticketlotfooter">
                    <div class="button buttonblue disabled">
                        <img runat="server" src="~/Content/images/btn_playagain_eng.png" alt="PLAY AGAIN" width="150" height="25" />
                    </div>

                    <div class="totalprize">
                        <img runat="server" src="~/Content/images/txt_totalprize_eng.png" alt="TOTAL PRIZE:" width="122" height="25" />
                        <span>@(!tl.Draw.WinningTicketGeneratedAt.HasValue ? "--.----" : (tl.WinningsBTC < 1.0M ? tl.WinningsBTC.ToString("0.0000") : tl.WinningsBTC.ToString("0.00"))) BTC</span>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

