@model _555Lottery.Web.ViewModels.DrawViewModel[]
@{
    ViewBag.Title = "Details of draw";
}

<div class="logo-wrapper">
    <div id="biglogo">
        <a runat="server" href="~/">
            <img runat="server" src="~/Content/images/555_lottery_logo.png" alt="555 lottery" width="775" height="153" />
        </a>
    </div>
</div>
<div class="content-wrapper">
    <div class="margined-content">
        <h2>Draw</h2>
        <h2>@Model[0].DrawCode</h2>

        <div class="statsline">
            <div class="drawcode">
                <span>@{ Html.RenderPartial("_BlueLabel", Model[0].DrawCode.Substring(3)); }</span><br />
                <span>@Model[0].DeadlineUtc.ToString("MMM.dd. HH:mm").ToUpper()</span>(GMT)
            </div>
            <div>
                @{ Html.RenderPartial("_LastDrawNumbers", Model[0].WinningTicketSequence); }
            </div>
            <div>
                <div id="gobutton" class="button buttonblue">
                    <a href="~/check/<TicketLotCode>">
                        <img runat="server" src="~/Content/images/btn_check_eng_blue.png" alt="CHECK" width="100" height="25" />
                    </a>
                </div>
            </div>
        </div>
        <div class="statsleft">
            JACKPOT
            <span>&#36;@String.Format("{0:n0}", Model[0].JackpotUSD)</span><br />
            <span>&#8364;@String.Format("{0:n0}", Model[0].JackpotEUR)</span><br />
            <span>&#3647;@String.Format("{0:n0}", Model[0].JackpotBTC)</span>
        </div>
        <div class="statsmiddle">
            <table>
                <thead>
                    <tr>
                        <th>Combination</th>
                        <th>Hits</th>
                        <th>Prize</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>5+1</td>
                        <td>0</td>
                        <td>rollover</td>
                    </tr>
                    <tr>
                        <td>5+0</td>
                        <td>1</td>
                        <td>$ 1250</td>
                    </tr>
                    <tr>
                        <td>4+1</td>
                        <td>0</td>
                        <td>rollover</td>
                    </tr>
                    <tr>
                        <td>4+0</td>
                        <td>5</td>
                        <td>$ 600</td>
                    </tr>
                    <tr>
                        <td>3+1</td>
                        <td>8</td>
                        <td>$ 300</td>
                    </tr>
                    <tr>
                        <td>3+0</td>
                        <td>13</td>
                        <td>$ 120</td>
                    </tr>
                    <tr>
                        <td>2+1</td>
                        <td>50</td>
                        <td>$ 80</td>
                    </tr>
                    <tr>
                        <td>2+0</td>
                        <td>125</td>
                        <td>$ 32</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="statsright">
            NON-JKPT
            <span>&#36;@String.Format("{0:n0}", "0")</span><br />
            2NDCHANCE
            <span>&#36;@String.Format("{0:n0}", "0")</span><br />
        </div>

        <h3>a</h3>

        @*
        <h3>Ticket lots</h3>

            @foreach (_555Lottery.Web.ViewModels.TicketLotViewModel tl in Model.TicketLots)
    { 
        <div class="statsline">
            <span>@tl.CreatedUtc</span><span><a runat="server" href="~/check/@tl.Code">@tl.Code</a></span><span>@tl.RefundAddress</span><span>@tl.State</span>
        </div>
    }*@


        @for (int i = 1; i < Model.Length; i++)
        {
            if (Model[i].WinningTicketSequence == null)
            {
                continue;
            }
            
            <div class="statsline">
                <div class="drawcode">
                    <span>@{ Html.RenderPartial("_BlueLabel", Model[i].DrawCode.Substring(3)); }</span><br />
                    <span>@Model[i].DeadlineUtc.ToString("MMM.dd. HH:mm").ToUpper()</span>(GMT)
                </div>
                <div>
                    @{ Html.RenderPartial("_LastDrawNumbers", Model[i].WinningTicketSequence); }
                </div>
                <div>
                    <div id="gobutton" class="button buttonblue">
                        <a runat="server" href="~/draw/@Model[i].DrawCode">
                            <img runat="server" src="~/Content/images/btn_details_eng_blue.png" alt="DETAILS" width="100" height="25" />
                        </a>
                    </div>
                </div>
            </div>
        }


    </div>
</div>

