@model _555Lottery.Service.TemplateModels.EmailTemplateModelTEST

@{
    Layout = "";
}

<html style="height: 100%; display: table; margin: auto;">
<head>
    <title>Draw report - @Model.Draw.DrawCode</title>
</head>
<body style="height: 100%; display: table-cell; vertical-align: middle; background-color: #000000; color: #8dd9ff;">
    <div style="width: 960px; z-index: 50;">
        <div id="biglogo" style="display: block; margin: 44px 100px 0px 100px; width: 780px; height: 156px;">
            <img runat="server" src="http://www.555lottery.com/Content/images/555_lottery_logo.png" alt="555 lottery" width="775" height="153" />
        </div>
    </div>
    <div style="color: #8dd9ff; float: none; margin-top: -50px; margin-bottom: 50px; padding: 50px 50px 10px 50px; width: 860px; min-height: 1000px; background: rgba(16, 16, 16, 0.5); border: 3px solid rgba(141, 217, 255, 0.5); border-radius: 10px;">
        <h1 style="text-align: center">@Model.Draw.DrawCode</h1>
        <p>&nbsp;</p>
        
        <table style="width: 860px; text-align: center; border-width: 1px; border-style: solid; border-color: rgba(141, 217, 255, 0.8); border-radius: 5px; color: #8dd9ff;">
            <thead style="color: #000000; background-color: #8dd9ff;">
                <tr>
                    <th>Created</th>
                    <th>Sequence</th>
                    <th>Sequence Hash</th>
                </tr>
            </thead>
            <tbody>
                <tr style="background-color: rgba(141, 217, 255, 0.2);">
                    <td>@Model.Draw.WinningTicketGeneratedAt.Value.ToString("yyyy-MM-dd HH:mm")</td>
                    <td>@Model.Draw.WinningTicketSequence</td>
                    @{ string drawHashCheckUrl = "http://www.555lottery.com/CheckHash/" + Model.Draw.WinningTicketSequence + "/" + BitConverter.ToString(Model.Draw.WinningTicketHash); }
                    <td><a style="color: #3da9ff; text-decoration: none" href="@drawHashCheckUrl">check</a></td>
                </tr>
            </tbody>
        </table>

        <p>&nbsp;</p>

        <table style="width: 860px; text-align: center; border-width: 1px; border-style: solid; border-color: rgba(141, 217, 255, 0.8); border-radius: 5px; color: #8dd9ff;">
            <thead style="color: #000000; background-color: #8dd9ff;">
                <tr>
                    <th colspan="3">Jackpot</th>
                </tr>
            </thead>
            <tbody>
                <tr style="background-color: rgba(141, 217, 255, 0.2);">
                    <td>@Model.Draw.JackpotBTC BTC</td>
                    <td>@((Model.Draw.JackpotBTC * Model.Draw.ExchangeRateUSDAtDeadline.Rate).ToString("#,##0.00")) USD</td>
                    <td>@((Model.Draw.JackpotBTC * Model.Draw.ExchangeRateEURAtDeadline.Rate).ToString("#,##0.00")) EUR</td>
                </tr>
            </tbody>
        </table>

        <p>&nbsp;</p>

        <table style="width: 860px; text-align: center; border-width: 1px; border-style: solid; border-color: rgba(141, 217, 255, 0.8); border-radius: 5px; color: #8dd9ff;">
            <caption style="font-size: 30px;">Ticket Lots</caption>
            <thead style="color: #000000; background-color: #8dd9ff;">
                <tr>
                    <th>Ticket ID</th>
                    <th>Total</th>
                    <th>State</th>
                    <th>Winnings</th>
                    <th>Winnings Address</th>                    
                </tr>
            </thead>
            <tbody>

                @foreach (_555Lottery.DataModel.TicketLot tl in Model.TicketLots.OrderBy(tl => tl.Code).OrderByDescending(tl => tl.State))
                { 
                    <tr style="background-color: rgba(141, 217, 255, 0.2);">
                        <td>@tl.Code</td>
                        <td>@((tl.TotalBTC-tl.TotalDiscountBTC).ToString("0.00000000"))</td>
                        <td>@tl.State</td>

                        @if ((tl.WinningsBTC.HasValue) && (tl.WinningsBTC.Value > 0.0M))
                        { 
                            <td>@tl.WinningsBTC.Value.ToString("0.00000000")</td>                            
                            string payUrl = "bitcoin:" + tl.RefundAddress + "?amount=" + tl.WinningsBTC.Value.ToString("0.00000000") + "&label=" + tl.Code;
                            <td><a style="color: #3da9ff; text-decoration: none" href="@payUrl">@tl.RefundAddress</a></td>
                        } else {
                            <td>N/A</td>
                            <td>@tl.RefundAddress</td>
                        }

                    </tr>
                }
            </tbody>
        </table>

        <p>&nbsp;</p>

        <table style="width: 860px; text-align: center; border-width: 1px; border-style: solid; border-color: rgba(141, 217, 255, 0.8); border-radius: 5px; color: #8dd9ff;">
            <caption style="font-size: 30px;">Valid Tickets</caption>
            <thead style="color: #000000; background-color: #8dd9ff;">
                <tr>
                    <th>Ticket ID</th>
                    <th>Mode</th>
                    <th>Type</th>
                    <th>Sequence</th>
                    <th>Prize</th>
                    <th>Hash</th>
                </tr>
            </thead>
            <tbody>
                @foreach (_555Lottery.DataModel.Ticket t in Model.ValidTickets)
                {
                    <tr style="background-color: rgba(141, 217, 255, 0.2);">
                        <td>@t.TicketLot.Code</td>
                        <td>@t.Mode.ToString()</td>
                        <td>@t.Type</td>
                        <td>@t.Sequence</td>
                        <td>@t.WinningsBTC.Value.ToString("0.00000000")</td>
                        @{ string hashCheckUrl = "http://www.555lottery.com/CheckHash/" + t.Sequence + "/" + BitConverter.ToString(t.SequenceHash); }
                        <td><a style="color: #3da9ff; text-decoration: none" href="@hashCheckUrl">check</a></td>
                    </tr>
                }
            </tbody>
        </table>

        <p></p>

        <table style="width: 860px; text-align: center; border-width: 1px; border-style: solid; border-color: rgba(141, 217, 255, 0.8); border-radius: 5px; color: #8dd9ff;">
            <caption style="font-size: 30px;">Valid Games</caption>
            <thead style="color: #000000; background-color: #8dd9ff;">
                <tr>
                    <th>Ticket ID</th>
                    <th>Mode</th>
                    <th>Sequence</th>
                    <th>Hits</th>
                    <th>Prize</th>
                    <th>Hash</th>
                </tr>
            </thead>
            <tbody>
                @foreach (_555Lottery.DataModel.Game g in Model.ValidGames)
                {
                    <tr style="background-color: rgba(141, 217, 255, 0.2);">
                        <td>@g.Ticket.TicketLot.Code</td>
                        <td>@g.Ticket.Mode.ToString()</td>
                        <td>@g.Sequence</td>
                        <td>@g.Hits</td>
                        <td>@g.WinningsBTC.Value.ToString("0.00000000")</td>
                        @{ string hashCheckUrl = "http://www.555lottery.com/CheckHash/" + g.Sequence + "/" + BitConverter.ToString(g.SequenceHash); }
                        <td><a style="color: #3da9ff; text-decoration: none" href="@hashCheckUrl">check</a></td>
                    </tr>
                }
            </tbody>
        </table>

        <div style="margin-left: 660px;">
            <p>&nbsp;</p>
            <p>Have fun,</p>
            <p>555 Lottery Robot</p>
        </div>


        <div style="margin-left: 280px; margin-top: 40px; font-size: smaller; opacity: 0.7;">
            <p>If you want to open this e-mail in your web browser
                <a style="color: #3da9ff; text-decoration: none" href="http://www.555lottery.com/EmailTemplateTest/@Model.Draw.DrawCode">click here</a>!
            </p>
        </div>

    </div>
</body>
</html>
