@model _555Lottery.Service.TemplateModels.EmailTemplateModelTEST

@{
    Layout = "";
}

<html>
<head>
    <title>Draw report - @Model.Draw.DrawCode</title>
</head>
<body style="color: #8dd9ff; background-color: #000000;">
    <div style="width: 960px; z-index: 50;">
        <div id="biglogo" style="display: block; margin: 44px 100px 0px 100px; width: 780px; height: 156px;">
            <img runat="server" src="http://beta.555lottery.com/Content/images/555_lottery_logo.png" alt="555 lottery" width="775" height="153" />
        </div>
    </div>
    <div style="float: none; margin-top: -50px; padding: 50px; width: 860px; min-height: 1000px; background: rgba(16, 16, 16, 0.5); border: 3px solid rgba(141, 217, 255, 0.5); border-radius: 10px;">
        <h1 style="text-align: center">Draw @Model.Draw.DrawCode</h1>
        <p>&nbsp;</p>
        <p>@Model.Draw.WinningTicketGeneratedAt</p>
        <p>@Model.Draw.WinningTicketSequence</p>
        <p>@Model.Draw.WinningTicketHash</p>
        <p>&nbsp;</p>
        <p>@Model.Draw.JackpotBTC BTC</p>
        <p>@(Model.Draw.JackpotBTC * Model.Draw.ExchangeRateUSDAtDeadline.Rate) USD</p>
        <p>@(Model.Draw.JackpotBTC * Model.Draw.ExchangeRateEURAtDeadline.Rate) EUR</p>
        <p>&nbsp;</p>

        <p>Ticket Lots</p>
        @foreach (_555Lottery.DataModel.TicketLot tl in @Model.Draw.TicketLots)
        { 
            <p>@tl.Code</p>
            <p>@tl.State</p>
        
            if (@tl.MostRecentTransactionLog != null)
            { 
                <p>@tl.MostRecentTransactionLog.DownloadedUtc</p>
                <p>@tl.MostRecentTransactionLog.Confirmations</p>
            }
        }

        <p>Valid Games</p>
        @foreach (_555Lottery.DataModel.Game g in @Model.ValidGames)
        {
            <p>@g.Ticket.TicketLot.Code</p>
            <p>@g.Sequence</p>
            <p>@g.SequenceHash</p>
        }
        
        <p>&nbsp;</p>
        <p>Have fun,</p>
        <p>555 Lottery Robot</p>

    </div>
</body>
</html>
