@model string[]
@{
    ViewBag.Title = "The World’s Best Online Lottery – Win the Biggest Bitcoin Jackpot";
}

@section Scripts{
    <script type="text/javascript">
        var urlJackpot = '@Url.Action("Jackpot", "Home")';
        var urlGetTimeLeftToNextDraw = '@Url.Action("GetTimeLeftToNextDraw", "Home")';
        var urlTimeLeft = '@Url.Action("TimeLeft", "Home")';
        var urlTicketBottom = '@Url.Action("TicketBottom", "Home")';
        var urlTicketPrice = '@Url.Action("TicketPrice", "Home")';
        var urlAcceptTicket = '@Url.Action("AcceptTicket", "Home")';
        var urlDeleteTicket = '@Url.Action("DeleteTicket", "Home")';
        var urlMoveSlider = '@Url.Action("MoveSidebar", "Home")';
        var urlTicketSidebar = '@Url.Action("TicketSidebar", "Home")';
        var urlTotalGames = '@Url.Action("TotalGames", "Home")';
        var urlTotalPrice = '@Url.Action("TotalPrice", "Home")';
        var urlDraws = '@Url.Action("Draws", "Home")';
        var urlLetsPlay = '@Url.Action("LetsPlay", "Home")';

        var urlTabChanged = '@Url.Action("TabChanged", "Home")';
        var urlRandomClicked = '@Url.Action("RandomClicked", "Home")';
        var urlPayClicked = '@Url.Action("PayClicked", "Home")';
        var urlExportClicked = '@Url.Action("ExportClicked", "Home")';
        var urlDoneClicked = '@Url.Action("DoneClicked", "Home")';
        var urlLetsPlayModalClosed = '@Url.Action("LetsPlayModalClosed", "Home")';
        var urlEmailEntered = '@Url.Action("EmailEntered", "Home")';
    </script>

    <script runat="server" type="text/javascript" src="~/Scripts/Home/Index.js"></script>
    <script runat="server" type="text/javascript" src="~/Scripts/Home/Ticket.js"></script>
}

<div class="logo-wrapper">
    <div id="biglogo">
        <img runat="server" src="~/Content/images/555_lottery_logo.png" alt="555 lottery" width="775" height="153" />
    </div>
</div>
<div class="content-wrapper">
    <div class="header-wrapper">
    </div>
    <div id="rendered-content">
        <div class="margined-content">
            <div id="jackpot">
                <div id="jackpottext">
                    <img runat="server" src="~/Content/images/txt_jackpot_eng.png" alt="JACKPOT" width="144" height="15" />
                </div>
                <div id="jackpotnumber">
                </div>
            </div>

            <div id="lastdraw">
                <a runat="server" href="~/draw/@Model[2]">
                    <img runat="server" src="~/Content/images/txt_lastdraw_eng.png" alt="LAST DRAW" width="230" height="60" />
                </a>
                <div class="lastdrawitems">
                    @{ Html.RenderPartial("_LastDrawNumbers", Model[1]); }
                </div>
                <div id="checkbutton" class="button buttonblue">
                    <img runat="server" src="~/Content/images/btn_check_eng_blue.png" alt="CHECK" width="100" height="25" />
                </div>
            </div>
            @{ string tlId = ((_555Lottery.Web.ViewModels.TicketLotViewModel)Session["Tickets"]).TicketLotId.ToString(); }
            <div id="@tlId" class="ticketarea">
                <div class="ticketleftside">
                    @{ Html.RenderPartial("_TicketSidebar", (_555Lottery.Web.ViewModels.TicketLotViewModel)Session["Tickets"]); }
                </div>
                <div class="ticket">
                    <div class="tabs">
                        <div class="tab tabblue toggled" onclick="changeTab(@tlId, 'blue')">
                            <img runat="server" src="~/Content/images/tab_ticket_eng_toggled.png" alt="TICKET" width="111" height="20" />
                        </div>
                        <div class="tab taborange" onclick="changeTab(@tlId, 'orange')">
                            <img runat="server" src="~/Content/images/tab_systemticket_eng.png" alt="SYSTEM TICKET" width="222" height="20" />
                        </div>
                        <div class="tab tabgreen" onclick="changeTab(@tlId, 'green')">
                            <img runat="server" src="~/Content/images/tab_randomticket_eng.png" alt="RANDOM TICKET" width="229" height="20" />
                        </div>
                    </div>
                    <div class="ticketcontent borderblue">
                        @for (int i = 1; i <= 55; i++)
                        {
                            <div class="ticketnumber numberblue" onclick="selectNumber(@tlId, this); refreshTicketBottom(@tlId);">
                                <img runat="server" src="~/Content/images/tfn_@(i)_blue.png" alt="@i" width="26" height="26" />
                            </div>
                        }
                        <div class="lottery_mini">
                            <img runat="server" src="~/Content/images/txt_lottery_mini_blue.png" alt="555 lottery" width="160" height="26" />
                        </div>
                    </div>
                    <div class="ticketjoker borderblue">
                        @for (int i = 1; i <= 5; i++)
                        {
                            <div class="ticketnumber numberblue" onclick="jokerClicked(@tlId, this);">
                                <img runat="server" src="~/Content/images/tfn_@(i)_blue.png" alt="@i" width="26" height="26" />
                            </div>
                        }
                        <div class="jokerall ticketnumber numberblue" onclick="allClicked(@tlId, this)">
                            <img runat="server" src="~/Content/images/tfn_A_blue.png" alt="" width="26" height="26" />
                        </div>
                    </div>
                    <div class="ticketfooter borderblue bgblue">
                        <div class="ticketfooterlist">
                            @{ Html.RenderPartial("_TicketBottom", "  ,  ,  ,  ,   |  "); }
                        </div>
                        <div class="ticketfooterbtc">
                            @{ Html.RenderPartial("_TicketPrice", "0.0000"); }
                        </div>
                        <img class="btcsign" runat="server" src="~/Content/images/tbn_btc_black.png" alt="." width="26" height="26" />
                    </div>
                </div>
                <div class="ticketsticksright">
                    <div class="stick borderblue"></div>
                    <div class="stick borderblue"></div>
                    <div class="stick borderblue"></div>
                </div>
                <div id="ticketright">
                    <div id="tickettype" class="hidden">
                        <img runat="server" src="~/Content/images/txt_type_eng_orange.png" alt="TYPE" width="100" height="20" />
                        <div class="button buttonorange top typebutton" onclick="changeType(@tlId, 1);">
                            <img runat="server" src="~/Content/images/txt_systemtype_01_orange.png" alt="06-06" width="100" height="25" />
                        </div>
                        <div class="button buttonorange middle typebutton" onclick="changeType(@tlId, 2);">
                            <img runat="server" src="~/Content/images/txt_systemtype_02_orange.png" alt="07-21" width="100" height="25" />
                        </div>
                        <div class="button buttonorange middle typebutton" onclick="changeType(@tlId, 3);">
                            <img runat="server" src="~/Content/images/txt_systemtype_03_orange.png" alt="08-56" width="100" height="25" />
                        </div>
                        <div class="button buttonorange middle typebutton" onclick="changeType(@tlId, 4);">
                            <img runat="server" src="~/Content/images/txt_systemtype_04_orange.png" alt="09-126" width="100" height="25" />
                        </div>
                        <div class="button buttonorange bottom typebutton" onclick="changeType(@tlId, 5);">
                            <img runat="server" src="~/Content/images/txt_systemtype_05_orange.png" alt="10-252" width="100" height="25" />
                        </div>
                    </div>
                    <div id="ticketrightbuttons">
                        <div id="randombutton" class="button buttonblue" onclick="randomButtonClick(@tlId, this);">
                            <img runat="server" src="~/Content/images/btn_random_eng_blue.png" alt="RANDOM" width="100" height="25" />
                        </div>
                        <div id="clearbutton" class="button buttonblue disabled" onclick="clearButtonClick(@tlId, this);">
                            <img runat="server" src="~/Content/images/btn_clear_eng_blue.png" alt="CLEAR" width="100" height="25" />
                        </div>
                        <div id="acceptbutton" class="button buttonblue disabled" onclick="acceptButtonClick(@tlId, this);">
                            <img runat="server" src="~/Content/images/btn_accept_eng_blue.png" alt="ACCEPT" width="100" height="25" />
                        </div>
                    </div>
                </div>
            </div>
            <div id="infobox">
                <div id="summary">
                    <img runat="server" src="~/Content/images/txt_games_eng.png" alt="GAMES" width="140" height="30" />
                    <div id="totalgames" class="summarynumber">
                        @{ Html.RenderPartial("_InfoBoxNumber", "0"); }
                    </div>
                    <br />
                    <img runat="server" src="~/Content/images/txt_draws_eng.png" alt="DRAWS" width="140" height="30" />
                    <div id="drawsContainer">
                        <div id="drawsIncrease" onclick="changeDraws(+1);">
                            <img runat="server" src="~/Content/images/draws_right.png" alt=">" width="8" height="30" />
                        </div>
                        <div id="draws" class="summarynumber editable">
                            @{ Html.RenderPartial("_InfoBoxNumber", "2"); }
                        </div>
                        <div id="drawsDecrease" onclick="changeDraws(-1);">
                            <img runat="server" src="~/Content/images/draws_left.png" alt="<" width="8" height="30" />
                        </div>
                    </div>
                </div>
                <div id="letsplay" class="button buttonblue disabled" onclick="letsplay(); _gaq.push(['_trackEvent', 'Play', 'Lets Play', 'Lets Play button clicked', 0.00, false]);">
                    <img runat="server" src="~/Content/images/txt_letsplay_eng.png" alt="LET'S PLAY" width="280" height="30" />
                    <div class="letsplaytotal">
                        <img id="letsplaytotal" runat="server" src="~/Content/images/txt_total_eng.png" alt="TOTAL" width="80" height="20" />
                        <img id="letsplaybtc" runat="server" src="~/Content/images/tbn_btc_blue.png" alt="." width="26" height="26" />
                        <div id="totalprice">
                            @{ Html.RenderPartial("_TotalPrice", "0.0000"); }
                        </div>
                    </div>
                </div>
                <div id="clock">
                    <span>
                        <img runat="server" src="~/Content/images/txt_nextdraw_eng.png" alt="NEXT DRAW" width="200" height="30" />
                    </span>
                    <div id="clocknumber">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="languages">
        <div class="langside">
        </div>
        <div class="button buttonblue langbutton" @*onclick="changeLang(this, 'deu')"*@>
            <img runat="server" src="~/Content/images/lang_german_eng.png" alt="GERMAN" width="156" height="20" />
        </div>
        <div class="button buttonblue langbutton" @*onclick="changeLang(this, 'spa')"*@>
            <img runat="server" src="~/Content/images/lang_spanish_eng.png" alt="SPANISH" width="156" height="20" />
        </div>
        <div class="button buttonblue langbutton toggled" onclick="changeLang(this, 'eng')">
            <img runat="server" src="~/Content/images/lang_english_eng_toggled.png" alt="ENGLISH" width="156" height="20" />
        </div>
        <div class="button buttonblue langbutton" @*onclick="changeLang(this, 'zho')"*@>
            <img runat="server" src="~/Content/images/lang_chinese_eng.png" alt="CHINESE" width="156" height="20" />
        </div>
        <div class="button buttonblue langbutton" @*onclick="changeLang(this, 'rus')"*@>
            <img runat="server" src="~/Content/images/lang_russian_eng.png" alt="RUSSIAN" width="156" height="20" />
        </div>
        <div class="langside">
        </div>
    </div>
    <div id="rules" class="margined-content">
        <details>
            <summary>                  
                <img runat="server" src="~/Content/images/txt_rules_whatis_eng.png" alt="WHAT IS 555 LOTTERY" width="820" height="15" />
                <img runat="server" src="~/Content/images/fadingline_820.png" alt="-------" width="820" height="2" />
            </summary>
            <ul>
                <li>Online lottery with 55 numbers and 5 lucky numbers</li>
                <li>Huge, rolling jackpot</li>
                <li>The jackpot won by hitting all 5 numbers and the lucky number</li>
                <li>100% BitCoin based, so completely anonymous</li>
                <li>Anybody, anytime, anywhere can play</li>
                <li>Playable straight in your browser, no downloads needed</li>
                <li>No registration or deposit required</li>
                <li>It’s open 24/7</li>
                <li>No queueing, lost or damaged ticket</li>
                <li>Winnings are transferred just after the draw</li>
                <li>Prizes from 1+1 hit</li>
                <li>You need to post a ticket, just like when you play traditional lottery</li>
            </ul>
        </details>
        <details style="display: none">
            <summary>
                <img runat="server" src="~/Content/images/txt_rules_secondchance_eng.png" alt="SECOND CHANCE" width="820" height="15" />
                <img runat="server" src="~/Content/images/fadingline_820.png" alt="-------" width="820" height="2" />
            </summary>
            <ul>
                <li>extra játék csak 0.01 BTC-ért</li>
                <li>minden számhúzás alkalmával extra nyerteseket sorsolunk ki</li>
                <li>itt nem Önnek kell számokat eltalálnia, hanem mi tesszük Önt nyertessé</li>
                <li>hetente $10 havonta $100 az éves sorsoláson pedig fejenként $1000</li>
                <li>egyetlen 2ND CHANCE játékban való részvétel mind a 3 sorsolásra (heti/havi/éves)</li>
                <li>adja fel szelvényeit (LET’S PLAY) a felugró menüben (SUBMIT YOUR LOT) pedig jelölje ki a SECOND CHANCE-t</li>
            </ul>
        </details>
        <details>
            <summary>
                <img runat="server" src="~/Content/images/txt_rules_howtoplay_eng.png" alt="HOW TO PLAY" width="820" height="15" />
                <img runat="server" src="~/Content/images/fadingline_820.png" alt="-------" width="820" height="2" />
            </summary>
            <ul>
                <li>You can choose from 3 ticket modes:
                <ul>
                    <li>NORMAL TICKET: 
                        <ul>
                            <li>Choose 5 numbers from the 55 and at least 1 of the 5 lucky numbers</li>
                        </ul>
                    </li>
                    <li>SYSTEM TICKET:
                        <ul>
                            <li>Increase your chances to win by selecting 6 to 10 numbers from the 55 and at least 1 of the lucky numbers (choose your game type in the TYPE column on the right)</li>
                            <li>555 Lottery will generate all the combinations for you</li>
                        </ul>
                    </li>
                    <li>RANDOM TICKET: 
                        <ul>
                            <li>You can generate many random tickets by selecting the desired number of tickets from the TYPE column on the right</li>
                            <li>Optionally you can pick your favorite numbers which you want to have on all the generated tickets</li>
                        </ul>
                    </li>
                </ul>
                </li>
                <li>All tickets are accepted by clicking on the ACCEPT button</li>
                <li>You can review all of your tickets in the ticket sidebar on the left</li>
                <li>After selecting one you can modify it, or delete it by clicking CLEAR</li>
                <li>If you are satisfied with your tickets, click on the LET’S PLAY button</li>
                <li>On the SUBMIT YOUR TICKETS window you will find all the information you need to validate your tickets</li>
                <li>If you have a properly configured BitCoin client installed, you can use the PAY button to initialize your payment</li>
                <li>Alternatively you can copy-paste the transaction details from this window</li>
                <li>If you don’t fill out the e-mail textbox then you should not forget to write down your ticket lot code</li>
                <li>When you are finished, click on the DONE button</li>
            </ul>
        </details>
        <details>
            <summary>
                <img runat="server" src="~/Content/images/txt_rules_rules_eng.png" alt="RULES" width="820" height="15" />
                <img runat="server" src="~/Content/images/fadingline_820.png" alt="-------" width="820" height="2" />
            </summary>
            <ul>
                <li>You must read and agree our <a href="~/Terms">terms and conditions</a> before you play</li>
                <li>Clicking the LET'S PLAY button means you agreed our terms and conditions</li>
                <li>The price of one game is 0.01 BTC</li>
                <li>Tickets not paid 1 hour after the deadline of the draw will be invalidated</li>
                <li>Payments are accepted when the transaction has at least 6 confirmations</li>
                <li>By clicking the LET’S PLAY button, you get your ticket lot code</li>
                <li>Please keep this code, since it is needed to check your ticket lot’s state</li>
                <li>If you win, your winnings will be transferred back to your address automatically</li>
                <li>You don’t need to have your ticket lot code to get your prize</li>
                <li>The deadline is shown just below the NEXT DRAW sign</li>
                <li>The draw is usually done in the next 2 hours after the deadline</li>
                <li>You can create your ticket lot until the deadline</li>
                <li>But you need to pay for it as soon as you can to validate it</li>
                <li>The winning number will be displayed next to the LAST DRAW sign</li>
                <li>You should get your winnings in the next 24 hours</li>
                <li>Prizes are always paid to the address from where the tickets were paid, so you need to use wallets that allow you to receive BitCoins from the same address you sent them</li>
                <li>Our tested clients are: Bitcoin-Qt, Electrum, Armory, MultiBit, Blockchain.info, Strongcoin, Blockchain (Android), BitcoinSpinner (Android), Bitcoin Wallet (Android), Blockchain (iOS)</li>
                <li>WARNING: Any shared wallets, such as BitPay, Mt.Gox, or Instawallet will not work.</li>
            </ul>
        </details>
        <details style="display: none">
            <summary>
                <img runat="server" src="~/Content/images/txt_rules_contact_eng.png" alt="CONTACT" width="820" height="15" />
                <img runat="server" src="~/Content/images/fadingline_820.png" alt="-------" width="820" height="2" />
            </summary>
            <p>
                E-mail: info@555lottery.com
            </p>
        </details>
    </div>

    <div id="checkModal" class="reveal-modal">
        <h2>
            <img runat="server" src="~/Content/images/txt_check_your_tickets_eng.png" alt="CHECK YOUR TICKETS" width="510" height="16" />
            <img runat="server" src="~/Content/images/fadingline_510.png" alt="-------" width="510" height="2" />
        </h2>
        <p id="enterlotcode" class="modal lead">
            Enter you ticket code here<input id="checkticketlotcode" type="text" placeholder="     e.g. TL017654321" maxlength="11" />
        </p>
        <div id="gobutton" class="button buttonblue disabled">
            <a href="~/check/<TicketLotCode>">
                <img runat="server" src="~/Content/images/btn_check_eng_blue.png" alt="CHECK" width="100" height="25" />
            </a>
        </div>
        <p class="modal">Ticket lot code is the code you got when you paid for your tickets. If you don't have it, you can't really check your results automatically.</p>
        <p class="modal">If you entered your e-mail address on the payment form, you will get an e-mail as soon as we have the new winning numbers. If you can't find the e-mail we sent you, please check your SPAM folder, and you also might want to add our address to your white list.</p>
    </div>

    <div id="payModal" class="reveal-modal">
        <h2>
            @*<img runat="server" src="~/Content/images/txt_submit_your_tickets_eng.png" alt="SUBMIT YOUR TICKETS" width="370" height="16" />*@
            <img runat="server" src="~/Content/images/txt_checkout_eng.png" alt="CHECKOUT" width="370" height="16" />
            <img runat="server" src="~/Content/images/fadingline_370.png" alt="-------" width="370" height="2" />
        </h2>
@*        <div id="colortickets">
            <img runat="server" src="~/Content/images/colortickets.png" alt="ticket lot" width="76" height="46" />
        </div>*@
        <p id="ticketlotcode" class="modal lead">
            Your Ticket ID is
            <br />
            <span id="payModalTicketLotCode" class="copyallowed"></span>
        </p>
        <div id="qr">
            <img id="payqr" src="http://qrfree.kaywa.com/?l=1&s=8&d=bitcoin%3A1PNGexJ4kbZpCwr8v8Cm1vS1JgeqdZW8co%3Famount%3D12.34%26label%3D555+Lottery%26message%3DTL042BH5" />
        </div>
        <br />
        <table id="basket">
            <thead>
                <tr>
                    <th>Ticket Type</th>
                    <th>Tickets</th>
                    <th>Games</th>
                </tr>
            </thead>
            <tbody>
                <tr class="blue">
                    <td>Normal</td>
                    <td><span id="payModalTotalNormalTickets">0</span></td>
                    <td><span id="payModalTotalNormalGames">0</span></td>
                </tr>
                <tr class="orange">
                    <td>System</td>
                    <td><span id="payModalTotalSystemTickets">0</span></td>
                    <td><span id="payModalTotalSystemGames">0</span></td>
                </tr>
                <tr class="green">
                    <td>Random</td>
                    <td><span id="payModalTotalRandomTickets">0</span></td>
                    <td><span id="payModalTotalRandomGames">0</span></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3">(game price) x (games) x (draws) - (discount) = (total)</td>
                </tr>
                <tr>
                    <td colspan="3"><span id="payModalGamePrice">0.0000</span> x <span id="payModalGameCount">0</span> x <span id="payModalDraws">0</span> - <span id="payModalDiscount">0.00000000</span> = <span id="payModalTotal">0.00000000</span>BTC</td>
                </tr>
            </tfoot>
        </table>
        <br />
        <p id="payInstructions" class="modal">
            In order to validate your ticket, please send exactly<br />
            <span id="payModalTicketTotalBTC" class="copyallowed"></span>BTC<br />
            to the BitCoin address<br />
            <span id="payModalDrawBitCoinAddress" class="copyallowed"></span><br />
            using one of the supported BitCoin clients.<br />
        </p>
        <div id="secondchance">
            <img class="secondchancesides" runat="server" src="~/Content/images/btn_secondchance_glow_top.png" alt="_" width="173" height="17" />
            <div class="secondchancemiddlesection">
                <img class="secondchancesides" runat="server" src="~/Content/images/btn_secondchance_glow_left.png" alt="|" width="17" height="49" />
                <div id="secondchancebutton" class="button buttonblue" onclick="secondChanceClick(this);">
                    <img runat="server" src="~/Content/images/btn_secondchance_blue.png" alt="SECOND CHANCE" width="124" height="37" />
                </div>
                <img class="secondchancesides" runat="server" src="~/Content/images/btn_secondchance_glow_right.png" alt="|" width="17" height="49" />
            </div>
            <img class="secondchancesides" runat="server" src="~/Content/images/btn_secondchance_glow_bottom.png" alt="-" width="173" height="17" />
        </div>

        <p>
            <br />
            To receive notifications, enter your e-mail here:
            <input id="notificationemail" type="email" placeholder="notification e-mail (optional)" maxlength="40" onchange="emailEntered(this);" /><br />
            <br />
        </p>

        <div id="paybuttons">
            <div id="paybutton" class="button buttonblue" onclick="payClick(this); _gaq.push(['_trackEvent', 'Play', 'Pay', 'Pay button clicked', 0.00, false]);">
                <a id="payModelPayLink" href="bitcoin:1PNGexJ4kbZpCwr8v8Cm1vS1JgeqdZW8co?amount=12.34&label=555 Lottery&message=TL042BH5">
                    <img runat="server" src="~/Content/images/btn_pay_eng_blue.png" alt="PAY" width="100" height="25" />
                </a>
            </div>
@*            <div id="okbutton" class="button buttonblue" onclick="doneClick(this);">
                <img runat="server" src="~/Content/images/btn_done_eng_blue.png" alt="DONE" width="100" height="25" />
            </div>*@
            <div id="exportbutton" class="button buttonblue" onclick="exportClick(this); _gaq.push(['_trackEvent', 'Play', 'Export', 'Export button clicked', 0.00, false]);">
                <img runat="server" src="~/Content/images/btn_export_eng_blue.png" alt="EXPORT" width="100" height="25" />
            </div>
        </div>

        <p id="payModelNotes" class="modal">
            <label>
                @*<input id="notescheckbox" type="checkbox" />I understand that the PAY button will function only if I have a BitCoin client installed and properly configured. If I wish to use an alternative method, I need to scan the QR code above or enter the details manually.*@
                The PAY button will function only if you have a BitCoin client installed and properly configured. If you wish to use an alternative method, you need to scan the QR code above with your phone or enter the details manually into your BitCoin client. Your ticket gets validated usually in 60 minutes after you transaction was initialized.
            </label>
            <label>
                If you wish to check the state of your ticket lot, you can do so anytime you like by clicking the CHECK button on the top-right part of the main page. The only information you need is your Ticket ID, which can be exported into a text file by clicking the EXPORT button above.
            </label>
        </p>
    </div>

    <footer>
        <p class="copyallowed">info@555lottery.com</p>
        @*@System.Security.Principal.WindowsIdentity.GetCurrent().Name*@
    </footer>
</div>
