@{
    ViewBag.Title = "$1.000.000 Jackpot!";
}

@section Scripts{
    <script type="text/javascript">
        var urlGetTimeLeftToNextDraw = '@Url.Action("GetTimeLeftToNextDraw", "Home")';
        var urlTimeLeft = '@Url.Action("TimeLeft", "Home")';
        var urlTicketBottom = '@Url.Action("TicketBottom", "Home")';
        var urlTicketPrice = '@Url.Action("TicketPrice", "Home")';
        var urlAcceptTicket = '@Url.Action("AcceptTicket", "Home")';
        var urlDeleteTicket = '@Url.Action("DeleteTicket", "Home")';
        var urlMoveSlider = '@Url.Action("MoveSidebar", "Home")';
        var urlTicketSidebar = '@Url.Action("TicketSidebar", "Home")';
        var urlTotalGames = '@Url.Action("TotalGames", "Home")';
        var urlTotalPrice = '@Url.Action("TotalPrice", "Home")';
        var urlDraws = '@Url.Action("Draws", "Home")';
    </script>

    <script runat="server" type="text/javascript" src="~/Scripts/Home/Index.js"></script>
}

<div class="logo-wrapper">
    <div id="biglogo">
        <img runat="server" src="~/Content/images/555_lottery_logo.png" alt="555 lottery" width="775" height="153" />
    </div>
</div>
<div class="content-wrapper">
    <div id="rendered-content">
        <div id="jackpot">
            <div id="jackpottext">
                <img runat="server" src="~/Content/images/txt_jackpot_eng.png" alt="JACKPOT" width="144" height="15" />
            </div>
            <div id="jackpotnumber">
                <img runat="server" src="~/Content/images/jackpot_dollar.png" alt="$" width="90" height="90" />
                <img runat="server" src="~/Content/images/jackpot_1.png" alt="1" width="90" height="90" />
                <img runat="server" src="~/Content/images/jackpot_dot.png" alt="." width="26" height="90" />
                <img runat="server" src="~/Content/images/jackpot_2.png" alt="2" width="90" height="90" />
                <img runat="server" src="~/Content/images/jackpot_0.png" alt="3" width="90" height="90" />
                <img runat="server" src="~/Content/images/jackpot_4.png" alt="4" width="90" height="90" />
                <img runat="server" src="~/Content/images/jackpot_dot.png" alt="." width="26" height="90" />
                <img runat="server" src="~/Content/images/jackpot_5.png" alt="5" width="90" height="90" />
                <img runat="server" src="~/Content/images/jackpot_2.png" alt="6" width="90" height="90" />
                <img runat="server" src="~/Content/images/jackpot_3.png" alt="8" width="90" height="90" />
            </div>
        </div>

        <div id="lastdraw">
            <img runat="server" src="~/Content/images/txt_lastdraw_eng.png" alt="LAST DRAW" width="230" height="60" />
            <div class="lastdrawitem">
                <img runat="server" src="~/Content/images/ldn_2.png" alt="2" width="40" height="40" />
            </div>
            <div class="lastdrawitem">
                <img runat="server" src="~/Content/images/ldn_12.png" alt="12" width="40" height="40" />
            </div>
            <div class="lastdrawitem">
                <img runat="server" src="~/Content/images/ldn_14.png" alt="14" width="40" height="40" />
            </div>
            <div class="lastdrawitem">
                <img runat="server" src="~/Content/images/ldn_36.png" alt="36" width="40" height="40" />
            </div>
            <div class="lastdrawitem">
                <img runat="server" src="~/Content/images/ldn_55.png" alt="55" width="40" height="40" />
            </div>
            <div class="lastdrawitem">
                <img runat="server" src="~/Content/images/ldn_3.png" alt="3" width="40" height="40" />
            </div>
            <div id="checkbutton" class="button buttonblue">
                <img runat="server" src="~/Content/images/btn_check_eng_blue.png" alt="CHECK" width="100" height="25" />
            </div>
        </div>
        <div id="ticketarea">
            <div id="ticketleftside">
                @{ Html.RenderPartial("_TicketSidebar", new _555Lottery.Web.Models.TicketList(Session.SessionID)); }
            </div>
            <div id="ticket">
                <div id="tabs">
                    <div class="tab tabblue toggled" onclick="changeTab('blue')">
                        <img runat="server" src="~/Content/images/tab_ticket_eng_toggled.png" alt="TICKET" width="111" height="20" />
                    </div>
                    <div class="tab taborange" onclick="changeTab('orange')">
                        <img runat="server" src="~/Content/images/tab_systemticket_eng.png" alt="SYSTEM TICKET" width="222" height="20" />
                    </div>
                    <div class="tab tabgreen" onclick="changeTab('green')">
                        <img runat="server" src="~/Content/images/tab_randomticket_eng.png" alt="RANDOM TICKET" width="235" height="20" />
                    </div>
                </div>
                <div id="ticketcontent" class="borderblue">
                    @for (int i = 1; i <= 55; i++)
                    {
                        <div class="ticketnumber numberblue" onclick="selectNumber(this); refreshTicketBottom();">
                            <img runat="server" src="~/Content/images/tfn_@(i)_blue.png" alt="@i" width="26" height="26" />
                        </div>
                    }
                    <div id="lottery_mini">
                        <img runat="server" src="~/Content/images/txt_lottery_mini_blue.png" alt="555 lottery" width="160" height="26" />
                    </div>
                </div>
                <div id="ticketjoker" class="borderblue">
                    @for (int i = 1; i <= 5; i++)
                    {
                        <div class="ticketnumber numberblue" onclick="jokerClicked(this);">
                            <img runat="server" src="~/Content/images/tfn_@(i)_blue.png" alt="@i" width="26" height="26" />
                        </div>
                    }
                    <div id="jokerall" class="ticketnumber numberblue" onclick="allClicked(this)">
                        <img runat="server" src="~/Content/images/tfn_A_blue.png" alt="" width="26" height="26" />
                    </div>
                </div>
                <div id="ticketfooter" class="borderblue bgblue">
                    <div id="ticketfooterlist">
                        @{ Html.RenderPartial("_TicketBottom", "  ,  ,  ,  ,   |  "); }
                    </div>
                    <div id="ticketfooterbtc">
                        @{ Html.RenderPartial("_TicketPrice", "0.00"); }
                    </div>
                    <img id="btcsign" runat="server" src="~/Content/images/tbn_btc_black.png" alt="." width="26" height="26" />
                </div>
            </div>
            <div class="ticketsticksright">
                <div class="stick borderblue"></div>
                <div class="stick borderblue"></div>
                <div class="stick borderblue"></div>
            </div>
            <div id="ticketright">
                <div id="tickettype">
                    <img runat="server" src="~/Content/images/txt_type_eng_orange.png" alt="TYPE" width="100" height="20" />
                    <div class="button buttonorange top typebutton" onclick="changeType(1);">
                        <img runat="server" src="~/Content/images/txt_systemtype_01_orange.png" alt="06-06" width="100" height="25" />
                    </div>
                    <div class="button buttonorange middle typebutton" onclick="changeType(2);">
                        <img runat="server" src="~/Content/images/txt_systemtype_02_orange.png" alt="07-21" width="100" height="25" />
                    </div>
                    <div class="button buttonorange middle typebutton" onclick="changeType(3);">
                        <img runat="server" src="~/Content/images/txt_systemtype_03_orange.png" alt="08-56" width="100" height="25" />
                    </div>
                    <div class="button buttonorange middle typebutton" onclick="changeType(4);">
                        <img runat="server" src="~/Content/images/txt_systemtype_04_orange.png" alt="09-126" width="100" height="25" />
                    </div>
                    <div class="button buttonorange bottom typebutton" onclick="changeType(5);">
                        <img runat="server" src="~/Content/images/txt_systemtype_05_orange.png" alt="10-252" width="100" height="25" />
                    </div>
                </div>
                <div id="ticketrightbuttons">
                    <div id="randombutton" class="button buttonblue" onclick="randomButtonClick(this);">
                        <img runat="server" src="~/Content/images/btn_random_eng_blue.png" alt="RANDOM" width="100" height="25" />
                    </div>
                    <div id="clearbutton" class="button buttonblue disabled" onclick="clearButtonClick(this);">
                        <img runat="server" src="~/Content/images/btn_clear_eng_blue.png" alt="CLEAR" width="100" height="25" />
                    </div>
                    <div id="acceptbutton" class="button buttonblue disabled" onclick="acceptButtonClick(this);">
                        <img runat="server" src="~/Content/images/btn_accept_eng_blue.png" alt="ACCEPT" width="100" height="25" />
                    </div>
                </div>
            </div>
        </div>
        <div id="infobox">
            <div id="summary">
                <img runat="server" src="~/Content/images/txt_games_eng.png" alt="GAMES" width="140" height="30" />
                <div id="totalgames" class="summarynumber">
                    @{ Html.RenderPartial("_InfoBoxNumber", "0"); }
                </div>
                <br />
                <img runat="server" src="~/Content/images/txt_draws_eng.png" alt="DRAWS" width="140" height="30" />
                <div id="drawsIncrease" onclick="changeDraws(+1);">
                    <img runat="server" src="~/Content/images/draws_right.png" alt=">" width="8" height="30" />
                </div>
                <div id="draws" class="summarynumber editable">
                    @{ Html.RenderPartial("_InfoBoxNumber", "2"); }
                </div>
                <div id="drawsDecrease" onclick="changeDraws(-1);">
                    <img runat="server" src="~/Content/images/draws_left.png" alt="<" width="8" height="30" />
                </div>
            </div>
            <div id="letsplay" class="button buttonblue">
                <img runat="server" src="~/Content/images/txt_letsplay_eng.png" alt="LET'S PLAY" width="280" height="30" />
                <div class="letsplaytotal">
                    <img id="letsplaytotal" runat="server" src="~/Content/images/txt_total_eng.png" alt="TOTAL" width="80" height="20" />
                    <img id="letsplaybtc" runat="server" src="~/Content/images/tbn_btc_blue.png" alt="." width="26" height="26" />
                    <div id="totalprice">
                        @{ Html.RenderPartial("_TotalPrice", "0.00"); }
                    </div>
                </div>
            </div>
            <div id="clock">
                <span>
                    <img runat="server" src="~/Content/images/txt_nextdraw_eng.png" alt="NEXT DRAW" width="200" height="30" />
                </span>
                <div id="clocknumber">
                </div>
            </div>
        </div>
    </div>
    <div id="languages">
        <div class="langside">
        </div>
        <div class="button buttonblue langbutton" onclick="changeLang(this, 'deu')">
            <img runat="server" src="~/Content/images/lang_german_eng.png" alt="GERMAN" width="156" height="20" />
        </div>
        <div class="button buttonblue langbutton" onclick="changeLang(this, 'spa')">
            <img runat="server" src="~/Content/images/lang_spanish_eng.png" alt="SPANISH" width="156" height="20" />
        </div>
        <div class="button buttonblue langbutton toggled" onclick="changeLang(this, 'eng')">
            <img runat="server" src="~/Content/images/lang_english_eng_toggled.png" alt="ENGLISH" width="156" height="20" />
        </div>
        <div class="button buttonblue langbutton" onclick="changeLang(this, 'zho')">
            <img runat="server" src="~/Content/images/lang_chinese_eng.png" alt="CHINESE" width="156" height="20" />
        </div>
        <div class="button buttonblue langbutton" onclick="changeLang(this, 'rus')">
            <img runat="server" src="~/Content/images/lang_russian_eng.png" alt="RUSSIAN" width="156" height="20" />
        </div>
        <div class="langside">
        </div>
    </div>
</div>
