@model string[]
@{
    ViewBag.Title = "The World’s Best Online Lottery – Win the Biggest Bitcoin Jackpot";
}

@section Scripts{
    <script type="text/javascript">
        var urlJackpot = '@Url.Action("Jackpot", "Home")';
        var urlGetTimeLeftToNextDraw = '@Url.Action("GetTimeLeftToNextDraw", "Home")';
        var urlTimeLeft = '@Url.Action("TimeLeft", "Home")';
        var urlTicketBottom = '@Url.Action("TicketBottom", "Home")';
        var urlTicketPrice = '@Url.Action("TicketPrice", "Home")';
        var urlAcceptTicket = '@Url.Action("AcceptTicket", "Home")';
        var urlDeleteTicket = '@Url.Action("DeleteTicket", "Home")';
        var urlMoveSlider = '@Url.Action("MoveSidebar", "Home")';
        var urlTicketSidebar = '@Url.Action("TicketSidebar", "Home")';
        var urlTotalGames = '@Url.Action("TotalGames", "Home")';
        var urlTotalPrice = '@Url.Action("TotalPrice", "Home")';
        var urlDraws = '@Url.Action("Draws", "Home")';
        var urlLetsPlay = '@Url.Action("LetsPlay", "Home")';

        var urlTabChanged = '@Url.Action("TabChanged", "Home")';
        var urlRandomClicked = '@Url.Action("RandomClicked", "Home")';
        var urlPayClicked = '@Url.Action("PayClicked", "Home")';
        var urlClientYesClicked = '@Url.Action("ClientYesClicked", "Home")';
        var urlClientNoClicked = '@Url.Action("ClientNoClicked", "Home")';
        var urlClientSkipClicked = '@Url.Action("ClientSkipClicked", "Home")';
        var urlNextClicked = '@Url.Action("NextClicked", "Home")';
        var urlTryoutClicked = '@Url.Action("TryoutClicked", "Home")';
        var urlExportClicked = '@Url.Action("ExportClicked", "Home")';
        var urlDoneClicked = '@Url.Action("DoneClicked", "Home")';
        var urlCloseClicked = '@Url.Action("CloseClicked", "Home")';
        var urlCheckoutStep1Closed = '@Url.Action("CheckoutStep1Closed", "Home")';
        var urlCheckoutStep2Closed = '@Url.Action("CheckoutStep2Closed", "Home")';
        var urlCheckoutStep3Closed = '@Url.Action("CheckoutStep3Closed", "Home")';
        var urlCheckoutQuestionClosed = '@Url.Action("CheckoutQuestionClosed", "Home")';

        var urlNextTutorial1Click = '@Url.Action("TutorialStep1NextClicked", "Home")';
        var urlPrevTutorial2Click = '@Url.Action("TutorialStep2PrevClicked", "Home")';
        var urlNextTutorial2Click = '@Url.Action("TutorialStep2NextClicked", "Home")';
        var urlPrevTutorial3Click = '@Url.Action("TutorialStep3PrevClicked", "Home")';
        var urlOkTutorial3Click = '@Url.Action("TutorialStep3OkClicked", "Home")';
        var urlTutorialStep1Closed = '@Url.Action("TutorialStep1Closed", "Home")';
        var urlTutorialStep2Closed = '@Url.Action("TutorialStep2Closed", "Home")';
        var urlTutorialStep3Closed = '@Url.Action("TutorialStep3Closed", "Home")';

        var urlEmailEntered = '@Url.Action("EmailEntered", "Home")';
        var urlNameEntered = '@Url.Action("NameEntered", "Home")';
        var urlAddressEntered = '@Url.Action("AddressEntered", "Home")';
        var urlBitcoinWalletSelected = '@Url.Action("BitcoinWalletSelected", "Home")';

        var timeToDraw = parseInt('@Model[3]');
    </script>

    <script runat="server" type="text/javascript" src="~/Scripts/Home/Index.js"></script>
    <script runat="server" type="text/javascript" src="~/Scripts/Home/Ticket.js"></script>
}

<div class="logo-wrapper">
    <div id="biglogo">
        <img runat="server" src="~/Content/images/555_lottery_logo.png" alt="555 lottery" width="775" height="153" />
    </div>
</div>
<div class="content-wrapper">
    <div class="header-wrapper">
    </div>
    <div id="rendered-content">
        <div class="margined-content">
            <div id="jackpot">
                <div id="jackpottext">
                    <img runat="server" src="~/Content/images/txt_jackpot_eng.png" alt="JACKPOT" width="144" height="15" />
                </div>
                <div id="jackpotnumber">
                </div>
            </div>

            <div id="lastdraw">
                <a runat="server" href="~/draw/@Model[2]">
                    <img runat="server" src="~/Content/images/txt_lastdraw_eng.png" alt="LAST DRAW" width="230" height="60" />
                </a>
                <div class="lastdrawitems">
                    @{ Html.RenderPartial("_LastDrawNumbers", Model[1]); }
                </div>
                <div id="checkbutton" class="button buttonblue">
                    <img runat="server" src="~/Content/images/btn_check_eng_blue.png" alt="CHECK" width="100" height="25" />
                </div>
            </div>
            @{ string tlId = ((_555Lottery.Web.ViewModels.TicketLotViewModel)Session["Tickets"]).TicketLotId.ToString(); }
            <div id="@tlId" class="ticketarea">
                <div class="ticketleftside">
                    @{ Html.RenderPartial("_TicketSidebar", (_555Lottery.Web.ViewModels.TicketLotViewModel)Session["Tickets"]); }
                </div>
                <div class="ticket">
                    <div class="tabs">
                        <div class="tab tabblue toggled" onclick="changeTab(@tlId, 'blue')">
                            <img runat="server" src="~/Content/images/tab_ticket_eng_toggled.png" alt="TICKET" width="111" height="20" />
                        </div>
                        <div class="tab taborange" onclick="changeTab(@tlId, 'orange')">
                            <img runat="server" src="~/Content/images/tab_systemticket_eng.png" alt="SYSTEM TICKET" width="222" height="20" />
                        </div>
                        <div class="tab tabgreen" onclick="changeTab(@tlId, 'green')">
                            <img runat="server" src="~/Content/images/tab_randomticket_eng.png" alt="RANDOM TICKET" width="229" height="20" />
                        </div>
                    </div>
                    <div class="ticketcontent borderblue">
                        @for (int i = 1; i <= 55; i++)
                        {
                            <div class="ticketnumber numberblue" onclick="selectNumber(@tlId, this); refreshTicketBottom(@tlId);">
                                <img runat="server" src="~/Content/images/tfn_@(i)_blue.png" alt="@i" width="26" height="26" />
                            </div>
                        }
                        <div class="lottery_mini">
                            <img runat="server" src="~/Content/images/txt_lottery_mini_blue.png" alt="555 lottery" width="160" height="26" />
                        </div>
                    </div>
                    <div class="ticketjoker borderblue">
                        @for (int i = 1; i <= 5; i++)
                        {
                            <div class="ticketnumber numberblue" onclick="jokerClicked(@tlId, this);">
                                <img runat="server" src="~/Content/images/tfn_@(i)_blue.png" alt="@i" width="26" height="26" />
                            </div>
                        }
                        <div class="jokerall ticketnumber numberblue" onclick="allClicked(@tlId, this)">
                            <img runat="server" src="~/Content/images/tfn_A_blue.png" alt="" width="26" height="26" />
                        </div>
                    </div>
                    <div class="ticketfooter borderblue bgblue">
                        <div class="ticketfooterlist">
                            @{ Html.RenderPartial("_TicketBottom", "  ,  ,  ,  ,   |  "); }
                        </div>
                        <div class="ticketfooterbtc">
                            @{ Html.RenderPartial("_TicketPrice", "0.0000"); }
                        </div>
                        <img class="btcsign" runat="server" src="~/Content/images/tbn_btc_black.png" alt="." width="26" height="26" />
                    </div>
                </div>
                <div class="ticketsticksright">
                    <div class="stick borderblue"></div>
                    <div class="stick borderblue"></div>
                    <div class="stick borderblue"></div>
                </div>
                <div id="ticketright">
                    <div id="tickettype" class="hidden">
                        <img runat="server" src="~/Content/images/txt_type_eng_orange.png" alt="TYPE" width="100" height="20" />
                        <div class="button buttonorange top typebutton" onclick="changeType(@tlId, 1);">
                            <img runat="server" src="~/Content/images/txt_systemtype_01_orange.png" alt="06-06" width="100" height="25" />
                        </div>
                        <div class="button buttonorange middle typebutton" onclick="changeType(@tlId, 2);">
                            <img runat="server" src="~/Content/images/txt_systemtype_02_orange.png" alt="07-21" width="100" height="25" />
                        </div>
                        <div class="button buttonorange middle typebutton" onclick="changeType(@tlId, 3);">
                            <img runat="server" src="~/Content/images/txt_systemtype_03_orange.png" alt="08-56" width="100" height="25" />
                        </div>
                        <div class="button buttonorange middle typebutton" onclick="changeType(@tlId, 4);">
                            <img runat="server" src="~/Content/images/txt_systemtype_04_orange.png" alt="09-126" width="100" height="25" />
                        </div>
                        <div class="button buttonorange bottom typebutton" onclick="changeType(@tlId, 5);">
                            <img runat="server" src="~/Content/images/txt_systemtype_05_orange.png" alt="10-252" width="100" height="25" />
                        </div>
                    </div>
                    <div id="ticketrightbuttons">
                        <div id="randombutton" class="button buttonblue" onclick="randomButtonClick(@tlId, this);">
                            <img runat="server" src="~/Content/images/btn_random_eng_blue.png" alt="RANDOM" width="100" height="25" />
                        </div>
                        <div id="clearbutton" class="button buttonblue disabled" onclick="clearButtonClick(@tlId, this);">
                            <img runat="server" src="~/Content/images/btn_clear_eng_blue.png" alt="CLEAR" width="100" height="25" />
                        </div>
                        <div id="acceptbutton" class="button buttonblue disabled" onclick="acceptButtonClick(@tlId, this);">
                            <img runat="server" src="~/Content/images/btn_accept_eng_blue.png" alt="ACCEPT" width="100" height="25" />
                        </div>
                    </div>
                </div>
            </div>
            <div id="infobox">
                <div id="summary">
                    <img runat="server" src="~/Content/images/txt_games_eng.png" alt="GAMES" width="140" height="30" />
                    <div id="totalgames" class="summarynumber">
                        @{ Html.RenderPartial("_InfoBoxNumber", "0"); }
                    </div>
                    <br />
                    <img runat="server" src="~/Content/images/txt_draws_eng.png" alt="DRAWS" width="140" height="30" />
                    <div id="drawsContainer">
                        <div id="drawsIncrease" onclick="changeDraws(+1);">
                            <img runat="server" src="~/Content/images/draws_right.png" alt=">" width="8" height="30" />
                        </div>
                        <div id="draws" class="summarynumber editable">
                            @{ Html.RenderPartial("_InfoBoxNumber", "2"); }
                        </div>
                        <div id="drawsDecrease" onclick="changeDraws(-1);">
                            <img runat="server" src="~/Content/images/draws_left.png" alt="<" width="8" height="30" />
                        </div>
                    </div>
                </div>
                <div id="letsplay" class="button buttonblue fakedisabled" onclick="letsplay(); _gaq.push(['_trackEvent', 'Play', 'Lets Play', 'Lets Play button clicked', 0.00, false]);">
                    <img runat="server" src="~/Content/images/txt_letsplay_eng.png" alt="LET'S PLAY" width="280" height="30" />
                    <div class="letsplaytotal">
                        <img id="letsplaytotal" runat="server" src="~/Content/images/txt_total_eng.png" alt="TOTAL" width="80" height="20" />
                        <img id="letsplaybtc" runat="server" src="~/Content/images/tbn_btc_blue.png" alt="." width="26" height="26" />
                        <div id="totalprice">
                            @{ Html.RenderPartial("_TotalPrice", "0.0000"); }
                        </div>
                    </div>
                </div>
                <div id="clock">
                    <span>
                        <img runat="server" src="~/Content/images/txt_nextdraw_eng.png" alt="NEXT DRAW" width="200" height="30" />
                    </span>
                    <div id="clocknumber">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="languages">
        <div class="langside">
        </div>
        <div class="button buttonblue langbutton" @*onclick="changeLang(this, 'deu')"*@>
            <img runat="server" src="~/Content/images/lang_german_eng.png" alt="GERMAN" width="156" height="20" />
        </div>
        <div class="button buttonblue langbutton" @*onclick="changeLang(this, 'spa')"*@>
            <img runat="server" src="~/Content/images/lang_spanish_eng.png" alt="SPANISH" width="156" height="20" />
        </div>
        <div class="button buttonblue langbutton toggled" onclick="changeLang(this, 'eng')">
            <img runat="server" src="~/Content/images/lang_english_eng_toggled.png" alt="ENGLISH" width="156" height="20" />
        </div>
        <div class="button buttonblue langbutton" @*onclick="changeLang(this, 'zho')"*@>
            <img runat="server" src="~/Content/images/lang_chinese_eng.png" alt="CHINESE" width="156" height="20" />
        </div>
        <div class="button buttonblue langbutton" @*onclick="changeLang(this, 'rus')"*@>
            <img runat="server" src="~/Content/images/lang_russian_eng.png" alt="RUSSIAN" width="156" height="20" />
        </div>
        <div class="langside">
        </div>
    </div>
    <div id="rules" class="margined-content">
        <details>
            <summary>
                <img runat="server" src="~/Content/images/txt_rules_whatis_eng.png" alt="WHAT IS 555 LOTTERY" width="820" height="15" />
                <img runat="server" src="~/Content/images/fadingline_820.png" alt="-------" width="820" height="2" />
            </summary>
            <ul>
                <li>Online lottery with 55 numbers and 5 lucky numbers</li>
                <li>Huge, rolling jackpot</li>
                <li>The jackpot won by hitting all 5 numbers and the lucky number</li>
                <li>100% BitCoin based, so completely anonymous</li>
                <li>Anybody, anytime, anywhere can play</li>
                <li>Playable straight in your browser, no downloads needed</li>
                <li>No registration or deposit required</li>
                <li>It’s open 24/7</li>
                <li>No queueing, lost or damaged ticket</li>
                <li>Winnings are transferred just after the draw</li>
                <li>Prizes from 1+1 hit</li>
                <li>You need to post a ticket, just like when you play traditional lottery</li>
            </ul>
        </details>
        <details style="display: none">
            <summary>
                <img runat="server" src="~/Content/images/txt_rules_secondchance_eng.png" alt="SECOND CHANCE" width="820" height="15" />
                <img runat="server" src="~/Content/images/fadingline_820.png" alt="-------" width="820" height="2" />
            </summary>
            <ul>
                <li>extra játék csak 0.01 BTC-ért</li>
                <li>minden számhúzás alkalmával extra nyerteseket sorsolunk ki</li>
                <li>itt nem Önnek kell számokat eltalálnia, hanem mi tesszük Önt nyertessé</li>
                <li>hetente $10 havonta $100 az éves sorsoláson pedig fejenként $1000</li>
                <li>egyetlen 2ND CHANCE játékban való részvétel mind a 3 sorsolásra (heti/havi/éves)</li>
                <li>adja fel szelvényeit (LET’S PLAY) a felugró menüben (SUBMIT YOUR LOT) pedig jelölje ki a SECOND CHANCE-t</li>
            </ul>
        </details>
        <details>
            <summary>
                <img runat="server" src="~/Content/images/txt_rules_howtoplay_eng.png" alt="HOW TO PLAY" width="820" height="15" />
                <img runat="server" src="~/Content/images/fadingline_820.png" alt="-------" width="820" height="2" />
            </summary>
            <ul>
                <li>You can choose from 3 ticket modes:
                <ul>
                    <li>NORMAL TICKET: 
                        <ul>
                            <li>Choose 5 numbers from the 55 and at least 1 of the 5 lucky numbers</li>
                        </ul>
                    </li>
                    <li>SYSTEM TICKET:
                        <ul>
                            <li>Increase your chances to win by selecting 6 to 10 numbers from the 55 and at least 1 of the lucky numbers (choose your game type in the TYPE column on the right)</li>
                            <li>555 Lottery will generate all the combinations for you</li>
                        </ul>
                    </li>
                    <li>RANDOM TICKET: 
                        <ul>
                            <li>You can generate many random tickets by selecting the desired number of tickets from the TYPE column on the right</li>
                            <li>Optionally you can pick your favorite numbers which you want to have on all the generated tickets</li>
                        </ul>
                    </li>
                </ul>
                </li>
                <li>All tickets are accepted by clicking on the ACCEPT button</li>
                <li>You can review all of your tickets in the ticket sidebar on the left</li>
                <li>After selecting one you can modify it, or delete it by clicking CLEAR</li>
                <li>If you are satisfied with your tickets, click on the LET’S PLAY button</li>
                <li>On the SUBMIT YOUR TICKETS window you will find all the information you need to validate your tickets</li>
                <li>If you have a properly configured BitCoin client installed, you can use the PAY button to initialize your payment</li>
                <li>Alternatively you can copy-paste the transaction details from this window</li>
                <li>If you don’t fill out the e-mail textbox then you should not forget to write down your ticket lot code</li>
                <li>When you are finished, click on the CLOSE button</li>
            </ul>
        </details>
        <details>
            <summary>
                <img runat="server" src="~/Content/images/txt_rules_rules_eng.png" alt="RULES" width="820" height="15" />
                <img runat="server" src="~/Content/images/fadingline_820.png" alt="-------" width="820" height="2" />
            </summary>
            <ul>
                <li>You must read and agree our <a href="~/Terms">terms and conditions</a> before you play</li>
                <li>Clicking the LET'S PLAY button means you agreed our terms and conditions</li>
                <li>The price of one game is 0.01 BTC</li>
                <li>Tickets not paid 1 hour after the deadline of the draw will be invalidated</li>
                <li>Payments are accepted when the transaction has at least 6 confirmations</li>
                <li>By clicking the LET’S PLAY button, you get your ticket lot code</li>
                <li>Please keep this code, since it is needed to check your ticket lot’s state</li>
                <li>If you win, your winnings will be transferred back to your address automatically</li>
                <li>You don’t need to have your ticket lot code to get your prize</li>
                <li>The deadline is shown just below the NEXT DRAW sign</li>
                <li>The draw is usually done in the next 2 hours after the deadline</li>
                <li>You can create your ticket lot until the deadline</li>
                <li>But you need to pay for it as soon as you can to validate it</li>
                <li>The winning number will be displayed next to the LAST DRAW sign</li>
                <li>You should get your winnings in the next 24 hours</li>
                <li>Prizes are always paid to the address from where the tickets were paid, so you need to use wallets that allow you to receive BitCoins from the same address you sent them</li>
                <li>Our tested clients are: Bitcoin-Qt, Electrum, Armory, MultiBit, Blockchain.info, Strongcoin, Blockchain (Android), BitcoinSpinner (Android), Bitcoin Wallet (Android), Blockchain (iOS)</li>
                <li>WARNING: Any shared wallets, such as BitPay, Mt.Gox, or Instawallet will not work.</li>
            </ul>
        </details>
        <details style="display: none">
            <summary>
                <img runat="server" src="~/Content/images/txt_rules_contact_eng.png" alt="CONTACT" width="820" height="15" />
                <img runat="server" src="~/Content/images/fadingline_820.png" alt="-------" width="820" height="2" />
            </summary>
            <p>
                E-mail: info@555lottery.com
            </p>
        </details>
    </div>

    <div id="checkModal" class="reveal-modal" data-reveal>
        <h2>
            <img runat="server" src="~/Content/images/txt_check_your_tickets_eng.png" alt="CHECK YOUR TICKETS" width="510" height="16" />
            <img runat="server" src="~/Content/images/fadingline_510.png" alt="-------" width="510" height="2" />
        </h2>
        <p id="enterlotcode" class="modal lead">
            Enter you ticket code here<input id="checkticketlotcode" type="text" placeholder="     e.g. TL017654321" maxlength="11" />
        </p>
        <div id="gobutton" class="button buttonblue disabled">
            <a href="~/check/<TicketLotCode>">
                <img runat="server" src="~/Content/images/btn_check_eng_blue.png" alt="CHECK" width="100" height="25" />
            </a>
        </div>
        <p class="modal">Ticket lot code is the code you got when you paid for your tickets. If you don't have it, you can't really check your results automatically.</p>
        <p class="modal">If you entered your e-mail address on the payment form, you will get an e-mail as soon as we have the new winning numbers. If you can't find the e-mail we sent you, please check your SPAM folder, and you also might want to add our address to your white list.</p>

        <a class="close-reveal-modal">&#215;</a>
    </div>

    <div id="checkoutStep1" class="reveal-modal" data-reveal>
        <h2>
            <img runat="server" src="~/Content/images/txt_checkout_step1_eng.png" alt="CHECKOUT STEP 1/3" width="370" height="16" />
            <img runat="server" src="~/Content/images/fadingline_370.png" alt="-------" width="370" height="2" />
        </h2>
        <p class="modal lead ticketlotcode">
            Your Ticket ID is
            <br />
            <span id="checkoutStep1TicketLotCode" class="copyallowed"></span>
        </p>
        <div class="qr">
            <img class="payqr" src="http://qrfree.kaywa.com/?l=1&s=8&d=bitcoin%3A1PNGexJ4kbZpCwr8v8Cm1vS1JgeqdZW8co%3Famount%3D12.34%26label%3D555+Lottery%26message%3DTL042BH5" />
        </div>
        <div class="explanationline">(don't forget to write down your Ticket ID to identify your games later)</div>
        <br />

        <div class="detailedsummary">
            <div class="detailedsummaryline">
                <span class="detailhead">NAME OF YOUR WALLET PROVIDER:</span>
                <select id="clientname" onchange="bitcoinWalletSelected(this);">
                    <option value="selectone">(select one wallet provider from the list)</option>
                    <option value="unknown">I don't know</option>
                    <option value="bitcoinqt">Bitcoin Core (alias BitcoinQT)</option>
                    <option value="multibit">Multibit</option>
                    <option value="hive">Hive</option>
                    <option value="armory">Armory</option>
                    <option value="electrum">Electrum</option>
                    <option value="bitcoinwallet">Bitcoin Wallet (Mobile)</option>
                    <option value="myceliumwallet">Mycelium Wallet (Mobile)</option>
                    <option value="blockchaininfom">Blockchain.info (Mobile)</option>
                    <option value="blockchaininfow">Blockchain.info (Web)</option>
                    <option value="bitgo">BitGo (Web)</option>
                    <option value="coinbase">Coinbase (Web)</option>
                    <option value="coinkite">Coinkite (Web)</option>
                    <option value="other">Other</option>
                </select>
            </div>
            <div class="detailedsummaryline">
                <span class="detailhead">BTC ADDRESS TO RECEIVE YOUR WINNINGS:</span>
                <input id="useraddress" type="text" maxlength="40" placeholder="(it is a receiving address from your wallet)" onchange="addressEntered(this);" />
            </div>
            <div class="detailedsummaryline">
                <span class="detailhead">YOUR NAME:</span>
                <input id="username" type="text" placeholder="(optional)" maxlength="40" onchange="nameEntered(this);" />
            </div>
            <div class="detailedsummaryline">
                <span class="detailhead">YOUR E-MAIL:</span>
                <input id="notificationemail" type="email" placeholder="(optional, to receive notifications of your winnings)" maxlength="40" onchange="emailEntered(this);" />
            </div>
        </div>

        <div class="modalbuttons">
            <div id="nextbutton" class="button buttonblue" onclick="nextClick(this); _gaq.push(['_trackEvent', 'Play', 'Next', 'Next button clicked', 0.00, false]);">
                <img runat="server" src="~/Content/images/btn_next_eng_blue.png" alt="NEXT" width="100" height="25" />
            </div>
        </div>

        <a class="close-reveal-modal">&#215;</a>
    </div>

    <div id="checkoutStep2" class="reveal-modal" data-reveal>
        <h2>
            <img runat="server" src="~/Content/images/txt_checkout_step2_eng.png" alt="CHECKOUT STEP 2/3" width="370" height="16" />
            <img runat="server" src="~/Content/images/fadingline_370.png" alt="-------" width="370" height="2" />
        </h2>
        <p class="modal lead ticketlotcode">
            Your Ticket ID is
            <br />
            <span id="checkoutStep2TicketLotCode" class="copyallowed"></span>
        </p>
        <div class="qr">
            <img class="payqr" src="http://qrfree.kaywa.com/?l=1&s=8&d=bitcoin%3A1PNGexJ4kbZpCwr8v8Cm1vS1JgeqdZW8co%3Famount%3D12.34%26label%3D555+Lottery%26message%3DTL042BH5" />
        </div>
        <div class="explanationline">(don't forget to write down your Ticket ID to identify your games later)</div>
        <br />
        <table id="basket">
            <thead>
                <tr>
                    <th>Ticket Type</th>
                    <th>Tickets</th>
                    <th>Games</th>
                </tr>
            </thead>
            <tbody>
                <tr class="blue">
                    <td>Normal</td>
                    <td><span id="checkoutStep2TotalNormalTickets">0</span></td>
                    <td><span id="checkoutStep2TotalNormalGames">0</span></td>
                </tr>
                <tr class="orange">
                    <td>System</td>
                    <td><span id="checkoutStep2TotalSystemTickets">0</span></td>
                    <td><span id="checkoutStep2TotalSystemGames">0</span></td>
                </tr>
                <tr class="green">
                    <td>Random</td>
                    <td><span id="checkoutStep2TotalRandomTickets">0</span></td>
                    <td><span id="checkoutStep2TotalRandomGames">0</span></td>
                </tr>
            </tbody>
        </table>
        <br />

        <div class="detailedsummary">
            <div class="detailedsummaryline"><span class="detailleft">GAME PRICE:</span><span id="checkoutStep2GamePrice" class="detailmiddle">0.0000</span><span class="detailright">BTC</span></div>
            <div class="detailedsummaryline"><span class="detailleft">GAMES:</span><span id="checkoutStep2GameCount" class="detailmiddle">0</span></div>
            <div class="detailedsummaryline"><span class="detailleft">DRAWS:</span><span id="checkoutStep2Draws" class="detailmiddle">0</span></div>
            @*<div class="explanationline">(DRW2013-036: 2013-12-06, DRW2013-035: 2013-11-27)</div>*@
            <div class="detailedsummaryline"><span class="detailleft">DISCOUNT:</span><span id="checkoutStep2Discount" class="detailmiddle">0.00000000</span><span class="detailright">BTC</span></div>
            <div class="explanationline">(we use the discount to uniquely identify your transaction)</div>
            <div class="detailedsummaryline"><span class="detailleft">TOTAL:</span><span id="checkoutStep2Total" class="detailmiddle">0.00000000</span><span class="detailright">BTC</span></div>
            <div class="explanationline">(game price x games x draws - discount = total)</div>
        </div>

        <div class="modalbuttons">
            <div id="testdrivebutton" class="button buttonblue disabled" onclick="tryoutClick(this); _gaq.push(['_trackEvent', 'Play', 'Try Out', 'Try Out button clicked', 0.00, false]);">
                <img runat="server" src="~/Content/images/btn_tryout_eng_blue.png" alt="TRY OUT" width="100" height="25" />
            </div>
            <div id="paybutton" class="button buttonblue" onclick="payClick(this); _gaq.push(['_trackEvent', 'Play', 'Pay', 'Pay button clicked', 0.00, false]);">
                <a id="checkoutStep2PayLink" href="bitcoin:1PNGexJ4kbZpCwr8v8Cm1vS1JgeqdZW8co?amount=12.34&label=555 Lottery&message=TL042BH5">
                    <img runat="server" src="~/Content/images/btn_pay_eng_blue.png" alt="PAY" width="100" height="25" />
                </a>
            </div>
        </div>

        <p class="modal modalnotes">
            <label>
                The PAY button will function only if you have a BitCoin client installed and properly configured. If you wish to use an alternative method, you need to scan the QR code above with your phone or enter the details manually into your BitCoin client. Your ticket gets validated usually in 60 minutes after you transaction was initialized.
            </label>
        </p>
        <a class="close-reveal-modal">&#215;</a>
    </div>

    <div id="checkoutquestion" class="reveal-modal checkoutquestion" data-reveal>
        <span>Did your bitcoin client start and could you initialize your payment?</span>
        <div class="explanationline">(if you are not sure just click skip)</div>
        <div class="modalbuttons">
            <div id="yesbutton" class="button buttonorange" onclick="clientYesClick(this); _gaq.push(['_trackEvent', 'Play', 'Client YES', 'Yes button clicked', 0.00, false]);">
                <img runat="server" src="~/Content/images/btn_yes_eng_orange.png" alt="YES" width="100" height="25" />
            </div>
            <div id="nobutton" class="button buttonorange" onclick="clientNoClick(this); _gaq.push(['_trackEvent', 'Play', 'Client NO', 'No button clicked', 0.00, false]);">
                <img runat="server" src="~/Content/images/btn_no_eng_orange.png" alt="NO" width="100" height="25" />
            </div>
            <div id="skipbutton" class="button buttonorange" onclick="clientSkipClick(this); _gaq.push(['_trackEvent', 'Play', 'Client SKIP', 'Skip button clicked', 0.00, false]);">
                <img runat="server" src="~/Content/images/btn_skip_eng_orange.png" alt="SKIP" width="100" height="25" />
            </div>
        </div>
    </div>

    <div id="checkoutStep3" class="reveal-modal" data-reveal>
        <h2>
            <img runat="server" src="~/Content/images/txt_checkout_step3_eng.png" alt="CHECKOUT STEP 3/3" width="370" height="16" />
            <img runat="server" src="~/Content/images/fadingline_370.png" alt="-------" width="370" height="2" />
        </h2>
        <p class="modal lead ticketlotcode">
            Your Ticket ID is
            <br />
            <span id="checkoutStep3TicketLotCode" class="copyallowed"></span>
        </p>
        <div class="qr">
            <img class="payqr" src="http://qrfree.kaywa.com/?l=1&s=8&d=bitcoin%3A1PNGexJ4kbZpCwr8v8Cm1vS1JgeqdZW8co%3Famount%3D12.34%26label%3D555+Lottery%26message%3DTL042BH5" />
        </div>
        <div class="explanationline">(don't forget to write down your Ticket ID to identify your games later)</div>
        <br />

        <div class="clientInstructions">
            <div id="yesinstructions">
                <div class="instructionshead green">Congratulations!</div>
                Your tickets are going to be valid in an hour.
            </div>

            <div id="noinstructions">
                <div class="instructionshead orange">Your tickets are<br />WAITING FOR PAYMENT</div>
                <p id="payInstructions" class="modal">
                    In order to validate your tickets, please send exactly<br />
                    <span id="checkoutStep3TicketTotalBTC" class="copyallowed"></span>BTC<br />
                    to 555 Lottery's bitcoin address:<br />
                    <span id="checkoutStep3DrawBitCoinAddress" class="copyallowed"></span>
                    <br />
                </p>
            </div>
        </div>

        <div class="modalbuttons">
            <div id="savedatabutton" class="button buttonblue" onclick="exportClick(this); _gaq.push(['_trackEvent', 'Play', 'Save Txt', 'Save Txt button clicked', 0.00, false]);">
                <img runat="server" src="~/Content/images/btn_savetxt_eng_blue.png" alt="SAVE TXT" width="100" height="25" />
            </div>
            <div id="closebutton" class="button buttonblue" onclick="closeClick(this); _gaq.push(['_trackEvent', 'Play', 'Close', 'Close button clicked', 0.00, false]);">
                <img runat="server" src="~/Content/images/btn_close_eng_blue.png" alt="CLOSE" width="100" height="25" />
            </div>
        </div>

        <p class="modal modalnotes">
            <label>
                If you wish to check the state of your ticket lot, you can do so anytime you like by clicking the CHECK button on the top-right part of the main page. The only information you need is your Ticket ID, which can be saved into a text file by clicking the SAVE TXT button above.
            </label>
        </p>
    </div>

    <div id="tutorialStep1" class="reveal-modal" data-reveal>
        <h2>
            <img runat="server" src="~/Content/images/txt_tutorial_step1_eng.png" alt="TUTORIAL STEP 1/3" width="370" height="16" />
            <img runat="server" src="~/Content/images/fadingline_370.png" alt="-------" width="370" height="2" />
        </h2>

        <div class="imageframe">
            <img runat="server" src="~/Content/images/tutorial_step1.jpg" alt="STEP 1" width="520" height="384" />

            <p class="modal modalnotes">
                <label>
                    First, you need to select exactly 5 numbers from 55 in the middle section.
                </label>
            </p>
        </div>

        <div class="modalbuttons">
            <div id="prevTutorial1button" class="button buttonblue disabled">
                <img runat="server" src="~/Content/images/btn_prev_eng_blue.png" alt="PREVIOUS" width="100" height="25" />
            </div>
            <div id="nextTutorial1button" class="button buttonblue" onclick="nextTutorial1Click(this); _gaq.push(['_trackEvent', 'Tutorial', 'To Step 2', 'Next button clicked', 0.00, false]);">
                <img runat="server" src="~/Content/images/btn_next_eng_blue.png" alt="NEXT" width="100" height="25" />
            </div>
        </div>

        <a class="close-reveal-modal">&#215;</a>
    </div>

    <div id="tutorialStep2" class="reveal-modal" data-reveal>
        <h2>
            <img runat="server" src="~/Content/images/txt_tutorial_step2_eng.png" alt="TUTORIAL STEP 2/3" width="370" height="16" />
            <img runat="server" src="~/Content/images/fadingline_370.png" alt="-------" width="370" height="2" />
        </h2>

        <div class="imageframe">
            <img runat="server" src="~/Content/images/tutorial_step2.jpg" alt="STEP 2" width="520" height="386" />

            <p class="modal modalnotes">
                <label>
                    Select at least one lucky number from the five numbers in the right column.
                </label>
            </p>
        </div>

        <div class="modalbuttons">
            <div id="prevTutorial2button" class="button buttonblue" onclick="prevTutorial2Click(this); _gaq.push(['_trackEvent', 'Tutorial', 'To Step 1', 'Previous button clicked', 0.00, false]);">
                <img runat="server" src="~/Content/images/btn_prev_eng_blue.png" alt="PREVIOUS" width="100" height="25" />
            </div>
            <div id="nextTutorial2button" class="button buttonblue" onclick="nextTutorial2Click(this); _gaq.push(['_trackEvent', 'Tutorial', 'To Step 3', 'Next button clicked', 0.00, false]);">
                <img runat="server" src="~/Content/images/btn_next_eng_blue.png" alt="NEXT" width="100" height="25" />
            </div>
        </div>

        <a class="close-reveal-modal">&#215;</a>
    </div>

    <div id="tutorialStep3" class="reveal-modal" data-reveal>
        <h2>
            <img runat="server" src="~/Content/images/txt_tutorial_step3_eng.png" alt="TUTORIAL STEP 3/3" width="370" height="16" />
            <img runat="server" src="~/Content/images/fadingline_370.png" alt="-------" width="370" height="2" />
        </h2>

        <div class="imageframe">
            <img runat="server" src="~/Content/images/tutorial_step3.jpg" alt="STEP 3" width="520" height="385" />

            <p class="modal modalnotes">
                <label>
                    Click on ACCEPT to add the ticket into your list. You are done! <br /> Click on LET'S PLAY again when you are finished.
                </label>
            </p>
        </div>

        <div class="modalbuttons">
            <div id="prevTutorial3button" class="button buttonblue" onclick="prevTutorial3Click(this); _gaq.push(['_trackEvent', 'Tutorial', 'To Step 2', 'Previous button clicked', 0.00, false]);">
                <img runat="server" src="~/Content/images/btn_prev_eng_blue.png" alt="PREVIOUS" width="100" height="25" />
            </div>
            <div id="okTutorial3button" class="button buttonblue" onclick="okTutorial3Click(this); _gaq.push(['_trackEvent', 'Tutorial', 'OK', 'OK button clicked', 0.00, false]);">
                <img runat="server" src="~/Content/images/btn_ok_eng_blue.png" alt="OK" width="100" height="25" />
            </div>
        </div>

        <a class="close-reveal-modal">&#215;</a>
    </div>

    <footer>
        <p class="copyallowed">info@555lottery.com</p>
        @*@System.Security.Principal.WindowsIdentity.GetCurrent().Name*@
    </footer>
</div>
