@model string[]
@{
    ViewBag.Title = Model[0] + " Jackpot!";
}

@section Scripts{
    <script type="text/javascript">
        var urlGetTimeLeftToNextDraw = '@Url.Action("GetTimeLeftToNextDraw", "Home")';
        var urlTimeLeft = '@Url.Action("TimeLeft", "Home")';
        var urlTicketBottom = '@Url.Action("TicketBottom", "Home")';
        var urlTicketPrice = '@Url.Action("TicketPrice", "Home")';
        var urlAcceptTicket = '@Url.Action("AcceptTicket", "Home")';
        var urlDeleteTicket = '@Url.Action("DeleteTicket", "Home")';
        var urlMoveSlider = '@Url.Action("MoveSidebar", "Home")';
        var urlTicketSidebar = '@Url.Action("TicketSidebar", "Home")';
        var urlTotalGames = '@Url.Action("TotalGames", "Home")';
        var urlTotalPrice = '@Url.Action("TotalPrice", "Home")';
        var urlDraws = '@Url.Action("Draws", "Home")';
        var urlLetsPlay = '@Url.Action("LetsPlay", "Home")';
    </script>

    <script runat="server" type="text/javascript" src="~/Scripts/Home/Index.js"></script>
}

<div class="logo-wrapper">
    <div id="biglogo">
        <img runat="server" src="~/Content/images/555_lottery_logo.png" alt="555 lottery" width="775" height="153" />
    </div>
</div>
<div class="content-wrapper">
    <div class="header-wrapper">
    </div>
    <div id="rendered-content">
        <div class="margined-content">
            <div id="jackpot">
                <div id="jackpottext">
                    <img runat="server" src="~/Content/images/txt_jackpot_eng.png" alt="JACKPOT" width="144" height="15" />
                </div>
                <div id="jackpotnumber">
                    @{ Html.RenderPartial("_Jackpot", Model[0]); }
                </div>
            </div>

            <div id="lastdraw">
                <a runat="server" href="~/draw/@Model[2]">
                    <img runat="server" src="~/Content/images/txt_lastdraw_eng.png" alt="LAST DRAW" width="230" height="60" />
                </a>
                @{ Html.RenderPartial("_LastDrawNumbers", Model[1]); }
                <div id="checkbutton" class="button buttonblue">
                    <img runat="server" src="~/Content/images/btn_check_eng_blue.png" alt="CHECK" width="100" height="25" />
                </div>
            </div>
            <div id="ticketarea">
                <div id="ticketleftside">
                    @{ Html.RenderPartial("_TicketSidebar", (_555Lottery.Web.ViewModels.TicketLotViewModel)Session["Tickets"]); }
                </div>
                <div id="ticket">
                    <div id="tabs">
                        <div class="tab tabblue toggled" onclick="changeTab('blue')">
                            <img runat="server" src="~/Content/images/tab_ticket_eng_toggled.png" alt="TICKET" width="111" height="20" />
                        </div>
                        <div class="tab taborange" onclick="changeTab('orange')">
                            <img runat="server" src="~/Content/images/tab_systemticket_eng.png" alt="SYSTEM TICKET" width="222" height="20" />
                        </div>
                        <div class="tab tabgreen" onclick="changeTab('green')">
                            <img runat="server" src="~/Content/images/tab_randomticket_eng.png" alt="RANDOM TICKET" width="229" height="20" />
                        </div>
                    </div>
                    <div id="ticketcontent" class="borderblue">
                        @for (int i = 1; i <= 55; i++)
                        {
                            <div class="ticketnumber numberblue" onclick="selectNumber(this); refreshTicketBottom();">
                                <img runat="server" src="~/Content/images/tfn_@(i)_blue.png" alt="@i" width="26" height="26" />
                            </div>
                        }
                        <div id="lottery_mini">
                            <img runat="server" src="~/Content/images/txt_lottery_mini_blue.png" alt="555 lottery" width="160" height="26" />
                        </div>
                    </div>
                    <div id="ticketjoker" class="borderblue">
                        @for (int i = 1; i <= 5; i++)
                        {
                            <div class="ticketnumber numberblue" onclick="jokerClicked(this);">
                                <img runat="server" src="~/Content/images/tfn_@(i)_blue.png" alt="@i" width="26" height="26" />
                            </div>
                        }
                        <div id="jokerall" class="ticketnumber numberblue" onclick="allClicked(this)">
                            <img runat="server" src="~/Content/images/tfn_A_blue.png" alt="" width="26" height="26" />
                        </div>
                    </div>
                    <div id="ticketfooter" class="borderblue bgblue">
                        <div id="ticketfooterlist">
                            @{ Html.RenderPartial("_TicketBottom", "  ,  ,  ,  ,   |  "); }
                        </div>
                        <div id="ticketfooterbtc">
                            @{ Html.RenderPartial("_TicketPrice", "0.00"); }
                        </div>
                        <img id="btcsign" runat="server" src="~/Content/images/tbn_btc_black.png" alt="." width="26" height="26" />
                    </div>
                </div>
                <div class="ticketsticksright">
                    <div class="stick borderblue"></div>
                    <div class="stick borderblue"></div>
                    <div class="stick borderblue"></div>
                </div>
                <div id="ticketright">
                    <div id="tickettype" class="hidden">
                        <img runat="server" src="~/Content/images/txt_type_eng_orange.png" alt="TYPE" width="100" height="20" />
                        <div class="button buttonorange top typebutton" onclick="changeType(1);">
                            <img runat="server" src="~/Content/images/txt_systemtype_01_orange.png" alt="06-06" width="100" height="25" />
                        </div>
                        <div class="button buttonorange middle typebutton" onclick="changeType(2);">
                            <img runat="server" src="~/Content/images/txt_systemtype_02_orange.png" alt="07-21" width="100" height="25" />
                        </div>
                        <div class="button buttonorange middle typebutton" onclick="changeType(3);">
                            <img runat="server" src="~/Content/images/txt_systemtype_03_orange.png" alt="08-56" width="100" height="25" />
                        </div>
                        <div class="button buttonorange middle typebutton" onclick="changeType(4);">
                            <img runat="server" src="~/Content/images/txt_systemtype_04_orange.png" alt="09-126" width="100" height="25" />
                        </div>
                        <div class="button buttonorange bottom typebutton" onclick="changeType(5);">
                            <img runat="server" src="~/Content/images/txt_systemtype_05_orange.png" alt="10-252" width="100" height="25" />
                        </div>
                    </div>
                    <div id="ticketrightbuttons">
                        <div id="randombutton" class="button buttonblue" onclick="randomButtonClick(this);">
                            <img runat="server" src="~/Content/images/btn_random_eng_blue.png" alt="RANDOM" width="100" height="25" />
                        </div>
                        <div id="clearbutton" class="button buttonblue disabled" onclick="clearButtonClick(this);">
                            <img runat="server" src="~/Content/images/btn_clear_eng_blue.png" alt="CLEAR" width="100" height="25" />
                        </div>
                        <div id="acceptbutton" class="button buttonblue disabled" onclick="acceptButtonClick(this);">
                            <img runat="server" src="~/Content/images/btn_accept_eng_blue.png" alt="ACCEPT" width="100" height="25" />
                        </div>
                    </div>
                </div>
            </div>
            <div id="infobox">
                <div id="summary">
                    <img runat="server" src="~/Content/images/txt_games_eng.png" alt="GAMES" width="140" height="30" />
                    <div id="totalgames" class="summarynumber">
                        @{ Html.RenderPartial("_InfoBoxNumber", "0"); }
                    </div>
                    <br />
                    <img runat="server" src="~/Content/images/txt_draws_eng.png" alt="DRAWS" width="140" height="30" />
                    <div id="drawsContainer">
                        <div id="drawsIncrease" onclick="changeDraws(+1);">
                            <img runat="server" src="~/Content/images/draws_right.png" alt=">" width="8" height="30" />
                        </div>
                        <div id="draws" class="summarynumber editable">
                            @{ Html.RenderPartial("_InfoBoxNumber", "2"); }
                        </div>
                        <div id="drawsDecrease" onclick="changeDraws(-1);">
                            <img runat="server" src="~/Content/images/draws_left.png" alt="<" width="8" height="30" />
                        </div>
                    </div>
                </div>
                <div id="letsplay" class="button buttonblue disabled" onclick="letsplay();">
                    <img runat="server" src="~/Content/images/txt_letsplay_eng.png" alt="LET'S PLAY" width="280" height="30" />
                    <div class="letsplaytotal">
                        <img id="letsplaytotal" runat="server" src="~/Content/images/txt_total_eng.png" alt="TOTAL" width="80" height="20" />
                        <img id="letsplaybtc" runat="server" src="~/Content/images/tbn_btc_blue.png" alt="." width="26" height="26" />
                        <div id="totalprice">
                            @{ Html.RenderPartial("_TotalPrice", "0.00"); }
                        </div>
                    </div>
                </div>
                <div id="clock">
                    <span>
                        <img runat="server" src="~/Content/images/txt_nextdraw_eng.png" alt="NEXT DRAW" width="200" height="30" />
                    </span>
                    <div id="clocknumber">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="languages">
        <div class="langside">
        </div>
        <div class="button buttonblue langbutton" onclick="changeLang(this, 'deu')">
            <img runat="server" src="~/Content/images/lang_german_eng.png" alt="GERMAN" width="156" height="20" />
        </div>
        <div class="button buttonblue langbutton" onclick="changeLang(this, 'spa')">
            <img runat="server" src="~/Content/images/lang_spanish_eng.png" alt="SPANISH" width="156" height="20" />
        </div>
        <div class="button buttonblue langbutton toggled" onclick="changeLang(this, 'eng')">
            <img runat="server" src="~/Content/images/lang_english_eng_toggled.png" alt="ENGLISH" width="156" height="20" />
        </div>
        <div class="button buttonblue langbutton" onclick="changeLang(this, 'zho')">
            <img runat="server" src="~/Content/images/lang_chinese_eng.png" alt="CHINESE" width="156" height="20" />
        </div>
        <div class="button buttonblue langbutton" onclick="changeLang(this, 'rus')">
            <img runat="server" src="~/Content/images/lang_russian_eng.png" alt="RUSSIAN" width="156" height="20" />
        </div>
        <div class="langside">
        </div>
    </div>
    <div id="rules" class="margined-content">
        <details>
            <summary>                  
                <img runat="server" src="~/Content/images/txt_rules_whatis_eng.png" alt="WHAT IS 555 LOTTERY" width="820" height="15" />
                <img runat="server" src="~/Content/images/fadingline_820.png" alt="-------" width="820" height="2" />
            </summary>
            <ul>
                <li>55 numbers 5 lucky numbers</li>
                <li>Big, rolling jackpot</li>
                <li>a jackpothoz 55 számból 5-t a 5 lucky numberekből pedig 1-t kell eltalálni</li>
                <li>kizarolag online rendszerben mukodo</li>
                <li>bitcoin alapú</li>
                <li>halmozódó jackpot alapú (rolling jackpot lottery) lotto</li>
                <li>vilagon bárki, bármikor, bárhonnan játszhat </li>
                <li>nincs helyhezkotve a jegyvetel</li>
                <li>nem kell lottozot keresgetni, zaras elott rohanva odaerni</li>
                <li>nincs sorban allas, nincs elveszett, serult vagy idoben nem bevaltott nyertes szelveny</li>
                <li>az 555lottery mindent elektronikusan es biztonsagosan tarol </li>
                <li>viszont a hagyomanyokat megorizve szelveny feladasaval vehessen reszt a jatekban. </li>
                <li>autómatikus: szelveny feladas, sorsolas, jegy ellenőrzése és kifizetes </li>
                <li>így csak egy dolga van, hogy kenyelmesen feladja szelvenyeit eszközéről es varja, hogy a nyeremenye megerkezzen Onhoz vagy akar az adott heti 2ND CHANCE nyerteseink egyike</li>
            </ul>
        </details>
        <details>
            <summary>
                <img runat="server" src="~/Content/images/txt_rules_secondchance_eng.png" alt="SECOND CHANCE" width="820" height="15" />
                <img runat="server" src="~/Content/images/fadingline_820.png" alt="-------" width="820" height="2" />
            </summary>
            <ul>
                <li>extra játék csak $1-ért</li>
                <li>minden számhúzás alkalmával extra nyerteseket sorsolunk ki</li>
                <li>itt nem Önnek kell számokat eltalálnia, hanem mi tesszük Önt nyertessé</li>
                <li>hetente $10 havonta $100 az éves sorsoláson pedig fejenként $1000</li>
                <li>egyetlen 2ND CHANCE játékban való részvétel mind a 3 sorsolásra (heti/havi/éves)</li>
                <li>adja fel szelvényeit (LET’S PLAY) a felugró menüben (SUBMIT YOUR LOT) pedig jelölje ki a SECOND CHANCE-t</li>
            </ul>
        </details>
        <details>
            <summary>
                <img runat="server" src="~/Content/images/txt_rules_howtoplay_eng.png" alt="HOW TO PLAY" width="820" height="15" />
                <img runat="server" src="~/Content/images/fadingline_820.png" alt="-------" width="820" height="2" />
            </summary>
            <ul>
                <li>3 féle szelvény az 555 lottery-n
                <ul>
                    <li>TICKET: 
                        <ul>
                            <li>Válassz 55 szám közül 5 számot az  5 lucky numberből pedig 1-et vagy akár válaszd ki az összeset</li>
                            <li>click ACCEPT</li>
                        </ul>
                    </li>
                    <li>SYSTEM TICKET:
                        <ul>
                            <li>ha növelni szeretné nyerési esélyeit</li>
                            <li>egy szelvényen bejelölhet 6-tól akár egészen 10 számot is (ezt válassza ki a szelvény melletti TYPE ablakban, ahol a játékok számát is megjelöltük Önnek)</li>
                            <li>az 555lottery megjátssza Önnek ezekkel a számokkal az összes lehetséges 5+1-es játékot</li>
                            <li>click ACCEPT</li>
                        </ul>
                    </li>
                    <li>RANDOM TICKET: 
                        <ul>
                            <li>egyszerre több gépi szelvényt is feladhat,</li>
                            <li>jelölje meg a szelvények számát a jobb oldalon (TYPE)</li>
                            <li>click ACCEPT és mi legeneráljuk a szelvényeket</li>
                            <li>a kis szelvényeket a bal oldalon váltogatva megnézheti a gépi szelvényeket</li>
                        </ul>
                    </li>
                </ul>
                </li>
                <li>RANDOM BUTTON: véletlenszerű számkombinációt csinál, ezek természetesen változtathatóak</li>
                <li>CLEAR BUTTON: törli a kitöltött számokat, illetve a  már kitöltött szelvényt</li>
                <li>ACCEPT BUTTON: a kitöltött szelvény elfogadása</li>
                <li>SMALL TICKETS: ha már van kitöltött acceptál szelvénye akkor ezek között itt váltogathat és még változtathat rajta vagy akár ki is törölheti CLEAR BUTTON</li>
                <li>GAMES: ez az összes éppen aktuálisan elfogadott 5+1-es alapjáték számát mutatja</li>
                <li>DRAWS: itt kiválaszhatja, hogy hány hétre/húzásra szeretné feladni játékát (1-5)</li>
                <li>LET’S PLAY: amennyiben van legalább 1 érvényesen kitöltött és elfogadott ACCEPT BUTTON szelvénye akkor ezzel a gombbal elküldheti játékát</li>
                <li>Ezt követően felugrik a SUBMIT YOUR LOT (egységesítés után nem biztos, h ez marad) ablak</li>
                <li>Itt megkapja a fizetéshez szükséges információkat és eldöntheti, hogy részt vesz a SECOND CHANCE játékban</li>
            </ul>
        </details>
        <details>
            <summary>
                <img runat="server" src="~/Content/images/txt_rules_rules_eng.png" alt="RULES" width="820" height="15" />
                <img runat="server" src="~/Content/images/fadingline_820.png" alt="-------" width="820" height="2" />
            </summary>
            <ul>
                <li>Minimum 18 év</li>
                <li>Húzásban való részvételhez legalább egy érvényes szelvény feladása és kifizetése kell</li>
                <li>Ha a LET’S PLAY gombbal feladja a játékát mi a számait eltároljuk rendszerünkben</li>
                <li>Erről kap is egy kódot TICKET LOT</li>
                <li>Ezt őrizze meg, jegyezze fel, mert ha nem kér email értesítést nem fogja tudni leellenőrizni szelvényét, igaz amennyiben van nyereményét meg fogja kapni</li>
                <li>Ezt követően a következő húzásig van ideje befizetni a játék árát</li>
                <li>A játékidő a NEXT DRAW alatti számláló lejártáig tart</li>
                <li>Ezt követően lezárjuk a nevezéseket</li>
                <li>Majd 2 óra múlva van a sorsolás</li>
                <li>Eddig kell a bedizetéseknek megérkezni</li>
                <li>Azokat a játékokat amik nincsennek kifizetve érvénytelenítjük</li>
                <li>A nyertes számok kisorsolását követően megjelennek a LAST DRAW mellett</li>
                <li>Ezt követően pedig el is kezdi az 555lottery a nyeremények kifizetését</li>
                <li>A nyereményeket arra a bitcoin számlára fizetjük ki, mint amiről a befizetés megtörtént</li>
                <li>A CHECK gombbal leellenőrizheti, hogy éppen melyik játéka milyen stádiumban van</li>
            </ul>
        </details>
        <details>
            <summary>
                <img runat="server" src="~/Content/images/txt_rules_contact_eng.png" alt="CONTACT" width="820" height="15" />
                <img runat="server" src="~/Content/images/fadingline_820.png" alt="-------" width="820" height="2" />
            </summary>
            <p>
                E-mail: info@555lottery.com<br />
                Telephone: (1) 800 555-4321
            </p>
        </details>
    </div>

    <div id="checkModal" class="reveal-modal">
        <h2>
            <img runat="server" src="~/Content/images/txt_check_your_tickets_eng.png" alt="CHECK YOUR TICKETS" width="510" height="16" />
            <img runat="server" src="~/Content/images/fadingline_510.png" alt="-------" width="510" height="2" />
        </h2>
        <p id="enterlotcode" class="modal lead">
            Enter you ticket code here<input id="checkticketlotcode" type="text" placeholder="     e.g. TL017654321" maxlength="11" />
        </p>
        <div id="gobutton" class="button buttonblue disabled">
            <a href="~/check/<TicketLotCode>">
                <img runat="server" src="~/Content/images/btn_check_eng_blue.png" alt="CHECK" width="100" height="25" />
            </a>
        </div>
        <p class="modal">Ticket lot code is the code you got when you payed for your tickets. If you don't have it, you can't really check your results automatically.</p>
        <p class="modal">If you entered your e-mail address on the payment form, you will get an e-mail as soon as we have the new winning numbers. If you can't find the e-mail we sent you, please check your SPAM folder, and you also might want to add our address to your white list.</p>
    </div>

    <div id="payModal" class="reveal-modal">
        <h2>
            <img runat="server" src="~/Content/images/txt_submit_your_tickets_eng.png" alt="SUBMIT YOUR TICKETS" width="370" height="16" />
            <img runat="server" src="~/Content/images/fadingline_370.png" alt="-------" width="370" height="2" />
        </h2>
        <div id="colortickets">
            <img runat="server" src="~/Content/images/colortickets.png" alt="ticket lot" width="76" height="46" />
        </div>
        <p id="ticketlotcode" class="modal lead">
            ticket
            <br />
            <span id="payModalTicketLotCode" class="copyallowed"></span>
        </p>
        <div id="qr">
            <img id="payqr" src="http://qrfree.kaywa.com/?l=1&s=8&d=bitcoin%3A1PNGexJ4kbZpCwr8v8Cm1vS1JgeqdZW8co%3Famount%3D12.34%26label%3D555+Lottery%26message%3DTL042BH5" />
        </div>
        <p class="modal">
            <span id="payModalDrawBitCoinAddress" class="copyallowed"></span>
        </p>
        <div id="secondchance">
            <img class="secondchancesides" runat="server" src="~/Content/images/btn_secondchance_left.gif" alt="<" width="52" height="56" />
            <div id="secondchancebutton" class="button buttonblue" onclick="secondchanceclick(this);">
                <img runat="server" src="~/Content/images/btn_secondchance_blue.png" alt="SECOND CHANCE" width="124" height="37" />
            </div>
            <img class="secondchancesides" runat="server" src="~/Content/images/btn_secondchance_right.gif" alt=">" width="52" height="56" />
        </div>
        <p class="modal">
            <span id="payModalTicketTotalBTC" class="copyallowed"></span>BTC
        </p>

        <p>
            <input id="notificationemail" type="email" placeholder="notification e-mail (optional)" maxlength="40" />
        </p>

        <div id="paybuttons">
            <div id="paybutton" class="button buttonblue disabled">
                <a id="payModelPayLink" href="bitcoin:1PNGexJ4kbZpCwr8v8Cm1vS1JgeqdZW8co?amount=12.34&label=555 Lottery&message=TL042BH5">
                    <img runat="server" src="~/Content/images/btn_pay_eng_blue.png" alt="PAY" width="100" height="25" />
                </a>
            </div>
            <div id="okbutton" class="button buttonblue" onclick="location.reload();">
                <img runat="server" src="~/Content/images/btn_done_eng_blue.png" alt="DONE" width="100" height="25" />
            </div>
        </div>

        <p id="payModelNotes" class="modal">
            <label>
                <input id="notescheckbox" type="checkbox" />I understand that the PAY button will function only if I have a BitCoin client installed and properly configured. If I wish to use an alternative method, I need to scan the QR code above or enter the details manually.</label>
        </p>
    </div>

    <footer>
        <p>USD</p>
        |<p>EUR</p>
        |<p>RUB</p>
        |<p>CNY</p>
        |<p>INR</p>
        <br />
        <p>felhaszálói feltételek</p>
        |<p>jogi nyilatkozat</p>
        |<p>adatkezelési nyilatkozat</p>
    </footer>
</div>
