@model _555Lottery.DataModel.Draw[]
@{
    ViewBag.Title = "Global statistics";
}

<div class="logo-wrapper">
    <div id="biglogo">
        <img runat="server" src="~/Content/images/555_lottery_logo.png" alt="555 lottery" width="775" height="153" />
    </div>
</div>
<div class="content-wrapper">
    <h2>Statistics</h2>

    @foreach (_555Lottery.DataModel.Draw d in Model)
    { 
        <div class="statsline">
            <span><a runat="server" href="~/draw/@d.DrawCode">@d.DrawCode</a></span><span>@d.DeadlineUtc</span><span>@d.BitCoinAddress</span><span>@String.Format("{0:n0}", d.JackpotBTC) BTC</span><span> ($@String.Format("{0:n0}", d.JackpotUSD))</span><span>@d.WinningTicketSequence</span>
        </div>
    }

</div>
